[2021-04-12 14:46] mikasR opened #5 "paymentButton - onApprove, onCancel not invoked"
After setting up everything on my paypal account, i am able to use the paymentButton to start the payment.

However, after the authorization my app does not come to the foreground. The same happens if i cancel the payment process.

I verified and all the return URIs are correctly configured.

In iOS a don't have any problem, only on Android.

[2021-04-19 17:31] CodyEngel commented on #5
Hey @mikasR can you provide some additional information so we can help troubleshoot this issue?

- Please provide a screenshot of what you seeing when the app does not come back to the foreground.
- Please provide code snippets of your Android integration including: the SDK initialization and the payment button's setup function.
- If possible, please provide the sandbox client id so that I can ver

[2021-04-21 08:28] mikasR commented on #5
Hello @CodyEngel,

I'm sorry for the late response.

I am experiencing this issue directly on the sample app, so the code is the code of the sample app.

The sandbox client id is the following:
AdypFir7Wx7kgw1Q9CLGjH8OGa-znGnpjA6zTvJoz6jV4XT51PL_5g9FHP0q84GjgqNozzX36hGuXrJc

![image](https://user-images.githubusercontent.com/10234099/115521891-80305a00-a283-11eb-9943-e47d78064dfc.png)
When we tap

[2021-04-21 15:27] CodyEngel commented on #5
@mikasR -- it looks like the `returnUrl` is incorrect, to run the sample app you will want to use `com.paypal.checkoutsamples://paypalpay`. Please update the value in the PayPal developer console, let me know if that resolves the issue.

[2021-04-21 15:36] mikasR commented on #5
@CodyEngel
I've tried that, but this is what happens:
![image](https://user-images.githubusercontent.com/10234099/115581130-a247cd80-a2bf-11eb-93ee-6e828e570054.png)

That's why i changed it on the developer dashboard.

[2021-04-21 17:45] CodyEngel commented on #5
Hey @mikasR -- can you give it one more try? Sometimes it can take a bit for the new return url to become associated with the application. I tried the sample app using the Client ID you provided and I was redirected successfully, it took ~5 seconds of waiting on redirect screen before control was handed back to the pay sheet.

[2021-04-23 11:00] mikasR commented on #5
@CodyEngel correct. It's working now!

Thank you.

[2021-04-23 11:00] #5 closed

[2021-04-23 14:44] CodyEngel commented on #5
Thanks @mikasR really happy that solution worked!

Just in case others stumble across this issue the solution was to set the following returnUrl in the developer console: `com.paypal.checkoutsamples://paypalpay`

That returnUrl is required to use the sample application. Sometimes it can take a bit for new returnUrls to propagate through the system, it's usually fairly quick but sometimes it can ta

[2021-04-23 16:16] mikasR opened #6 "Exception thrown when cancelling"
@CodyEngel Hello, i'm having another issue.

If i tap on the cancel label my app crashes with the following exception:

Fatal Exception: kotlin.UninitializedPropertyAccessException: lateinit property accessToken has not been initialized
       at com.paypal.pyplcheckout.utils.PYPLCheckoutUtils.getCheckoutLiteUrl(PYPLCheckoutUtils.kt:235)
       at com.paypal.pyplcheckout.utils.PYPLCheckoutUtils.ge

[2021-04-23 16:30] CodyEngel commented on #6
Hey thanks @mikasR, I haven't seen this crash through testing 🤔 From looking at the code path it looks like you were in a web fallback flow and the stacktrace definitely helps out quite a bit.

When you get a chance could you attach a screenshot of what you see just before the app crash as well as the exact steps you took to reproduce? If you are using a payment button can you also specify which o

[2021-04-23 16:43] mikasR commented on #6
@CodyEngel pretty much nothing happens. I tap cancel and the screen goes black, and the app restarts.

I am using a paymentbutton.PayPalButton.
All i did was setup the button. Tap on it, and on the paypal webview i tap cancel the behaviour is as described above.

![image](https://user-images.githubusercontent.com/10234099/115903375-69dcf680-a45b-11eb-979a-fa7b8b1885bf.png)

[2021-04-23 16:45] mikasR commented on #6
Also, on another note.
If i login and accept the transaction, i get an onError event with the following:
ErrorInfo(error=com.paypal.pyplcheckout.exception.PYPLException: exception when creating order: exception when creating order: 400, reason=Error creating order, correlationIds=CorrelationIds(eligibilityDebugID=null, fundingEligibilityDebugID=null, updateClientConfigDebugID=6e1e07473311, lsatUpg

[2021-04-23 16:48] CodyEngel commented on #6
Awesome, thank you @mikasR I will take a look and will keep you updated.

[2021-04-26 09:56] nafiskabbo opened #7 "Paypal Retunr Url"
![Screenshot_2021-04-26 Edit applications - PayPal Developer(1)](https://user-images.githubusercontent.com/69830273/116063998-69d13680-a6a7-11eb-9fe6-2ae69a1f08fe.png)

**My application id is "soft.agency.kbt.com.i69.stage". In Paypal Developer, when I try to add this in return url with "://paypalpay". it always says "Oauth invalid return URL".**

But when I remove the number from my application i

[2021-04-26 13:43] mikasR commented on #6
@CodyEngel This last exception is solved.
Only remains the one after cancellation.

[2021-04-27 14:32] CodyEngel commented on #6
Hey @mikasR -- wanted to give a quick update (our offices were closed on Monday for a wellness day, sorry I should have mentioned this on Friday 😫).

I'm currently working on a fix for the cancellation bug. It looks like that cancellation text was added sometime after we originally implemented authentication, and unfortunately the cancellation reason given when you tap that text as opposed to the

[2021-04-27 14:36] CodyEngel commented on #7
Hey @nafiskabbo -- thank you for reporting this bug. At first glance it looks like numerics are throwing off the return url check. I'll make sure to get this issue to appropriate team so that it can be addressed. I'll will keep you updated and will let you know once we have an ETA for this issue.

[2021-04-27 14:51] nafiskabbo commented on #7
@CodyEngel  thanks a lot. But by when this bug can be solved?
**Thanks!**

[2021-04-27 15:02] CodyEngel commented on #7
@nafiskabbo -- I will provide you with an ETA once I have one. My team does not manage the developer console so I'm currently working with that team.

Short-term if you are looking to get familiar with the SDK I'd suggest checking out our quick start demos available in this repository.

[2021-04-27 15:10] nafiskabbo commented on #7
@CodyEngel Actually, I have tried the sdk and explored it with one sample apk. I am impressed with its features. But I need to implement it for a client. Client was pressuring me. That's why i asked you. Thanks!

[2021-04-27 18:36] CodyEngel commented on #7
Hey @nafiskabbo -- I don't have an ETA yet but the developer portal team is aware of the issue and I can see them discussing this internally. As soon as I have more information I will share it with you. Thank you for your patience and bringing this bug to our attention, it's very much appreciated 😌

[2021-04-28 08:17] mikasR commented on #6
Hi @CodyEngel.

Thanks. I can validate the fix with snapshot, no problem.

[2021-04-28 20:50] nafiskabbo commented on #7
@CodyEngel  any update bro? By when this can be fixed? Can you please tell me an approx time?

[2021-04-28 21:29] CodyEngel commented on #7
Hey @nafiskabbo -- the team working to resolve this aren't able to provide an ETA. However they informed me that you can reach out to [PayPal Support](https://www.paypal-support.com/) and an agent should be able to manually add your Return URL for the time being.

Once the fix has been deployed I'll go ahead and update the status of this ticket.

[2021-04-29 14:22] nafiskabbo commented on #7
I have submitted a request to the Paypal support team.

 **My Case Number; 08158693**

Can you tell them to please check it? Please try to resolve it!

[2021-04-29 21:10] nafiskabbo commented on #7
Hey  @CodyEngel

![Screenshot_2021-04-30 Return Url Fix   Case # 08158693    ref _00D30LaY _5002E1leLbO ref   - kabboandreigns gmail com - Gmail](https://user-images.githubusercontent.com/69830273/116618865-77b1e080-a961-11eb-88fe-0b69f028342a.png)

Response of PayPal customer care. I have written something and they have replied to me the totally wrong answer. Please do something.

[2021-04-30 17:35] CodyEngel commented on #6
I have a pull request opened on our internal project repository. I'll update this issue once the snapshot is ready to test 🥳

[2021-04-30 19:51] CodyEngel commented on #7
Hey @nafiskabbo -- support should have reached back out to get additional details from you about your sandbox account so that they can make that change.

[2021-04-30 23:17] nafiskabbo commented on #7
Hey @CodyEngel
 Will the bug of the Return URL be resolved within 2 to 3 days? As We need to make it for Paypal Production Mode.

[2021-05-02 20:28] nafiskabbo commented on #7
Hey @CodyEngel
It's been almost 1 week. Any possibility of the bug fixing quickly. Please respond.

[2021-05-03 10:25] mikasR commented on #6
OK, great. I'll wait.

[2021-05-03 14:52] CodyEngel commented on #7
@nafiskabbo -- I haven't received any updates from the team working to resolve this bug. I'll see what can be done to expedite this work.

[2021-05-03 15:39] nafiskabbo commented on #7
@CodyEngel
Thanks for replying. I was thinking that fixing the Pattern of a Return Url is not a big task that can take a week. I was wondering if they were working on it or not. As my client is telling me to finish soon, but without it, I cannot finish the integration of Paypal.

[2021-05-03 16:20] mstuart commented on #7
Hi @nafiskabbo, do you mind sharing your client-id? It's a public credential, so it's safe to share here. Please don't share your secret though :)

[2021-05-03 16:59] nafiskabbo commented on #7
@CodyEngel @mstuart
Ok I am writing My Sandbox and Live Both Client Ids with my required return url.
* Sandbox Client Id = "AXG6q4YxIzaHkhHu0vlEk1QjYp-tHvMP_JhUjsCehtqZeIZsCs-dNvWxMzFF-KvLesBXYNk4-5gp0_ib"
* Production (Live) Mode Client Id = "AQCdEBLfbKiVI0JrFrJDubigxC4O5YD78R1WU5xxkgBl69pmNoZs5NY2zIQf_SKTFWQJb_AAEJLF5j2Q"
* Return url = "soft.agency.kbt.com.i69.stage://paypalpay"

And please lea

[2021-05-03 22:37] mstuart commented on #7
Hi @nafiskabbo, can you try again? We made a change on our end.

[2021-05-05 18:16] CodyEngel commented on #6
Hey @mikasR sorry for the delay, the snapshot is all set for you if you would like to test it out and this will be included in our next release.

Some things to keep in mind with our snapshots before adding them: they are not intended for use in production and will cease to work 3 months after their publish date, so please only make use of these for testing purposes.

In order to add the snapshot

[2021-05-05 19:59] habibmax95 opened #8 "Throws java.lang.IllegalArgumentException if the return url contains underscore"
Hello,

My application id contains underscore (_) and when i set it as return url it throws
 `Caused by: java.lang.IllegalArgumentException: Check your returnUrl! It should contain your app's package name appended with "://paypalpay".`

And if i change the return url the checkout doesn't work and also i couldn't able to set return url on developer dashboard as it also doesn't support underscore.

[2021-05-05 21:27] CodyEngel commented on #8
@habibmax95 thanks for reporting this issue, can you provide the full return URL that you are passing into `CheckoutConfig`?

[2021-05-05 21:54] habibmax95 commented on #8
Sure. Here is the full return url:
`com.language_learning.iqra://paypalpay`

[2021-05-05 22:01] CodyEngel commented on #8
Thanks @habibmax95 -- it looks like underscores aren't valid with a `URI` which we use internally for the returnUrl. They are valid forms of application IDs though so we'll need to figure something out.

I'll keep you updated on the progress of this bug, currently I don't have an ETA though.

[2021-05-05 22:07] habibmax95 commented on #8
Many of the application's ID contains underscore. And as application id isn't changeable so I think and hope this issue will be solved ASAP. Besides I have a release in queue which requires paypal integration. Is there any alternative implementation exist? Thanks.

[2021-05-06 14:33] CodyEngel commented on #8
@habibmax95 we are working on several updates with return urls. I unfortunately do not have an ETA to share at this time as this will require both an SDK update (which is more within my direct control) along with updates with our developer portal (which I have less control over). Depending on how soon your next release is, I would advise setting expectations with your product team that the bug fix

[2021-05-07 14:57] CodyEngel commented on #8
@habibmax95 -- while underscores are valid with Application IDs they are not allowed as part of a URI scheme. In order to integrate with the PayPal SDK you will need to register another Activity in your application's `AndroidManifest.xml` to use a supported scheme, for example:

[code]

Note that the underscore is removed from the Application ID, you are welcome to modify that scheme however you'd

[2021-05-07 15:16] mikasR commented on #6
OK.

I was able to test it.

The crash is gone.

The only thing i noticed, is that the onError event get called. I don't know if that's supposed to happen.
Other than that it's ok.

Tell me if i need to mantain the Cardinal SDK dependency for when this update gets released.

Thanks.«

[2021-05-07 15:54] habibmax95 commented on #8
I tried that method. But the problem with that is  after logging with the paypal credentials it takes me to the RedirectUriReceiverActivity and gives me an url (i.e return_url?code=value&scope=value) via intent. It doesn't show the card selection bottom sheet and the onApprove call back never invoked. Whereas in other application it automatically shows the card selection bottom sheet and when user

[2021-05-07 18:34] habibmax95 commented on #8
When i tap on Paypal Button on my checkout page, it automatically closes the checkout activity, shows a sheet saying preparing then open chrome custom tab for logging in, after entering login id and password it takes me to RedirectURI Activity. And thats it. What should i do on RedirectURI activity to show the pay Sheet?

[2021-05-07 18:36] habibmax95 commented on #8
Here is the code for redirection:

[code]

[code]

[2021-05-07 19:37] CodyEngel commented on #8
@habibmax95 -- It looks like you are registering `.screens.paypalPaymentScreen.PaypalPayActivity` instead of `com.paypal.openid.RedirectUriReceiverActivity`.

Please try the following:

[code]

For reference this is the `AndroidManifest.xml` file from my test application that I referenced earlier:

[code]

[2021-05-07 19:44] CodyEngel commented on #6
Hey @mikasR -- the `onError` callback can be invoked if there was an internal error with the SDK, it should provide an `ErrorInfo` instance with additional details.

As for the Cardinal SDK this dependency will be required going forward so once `0.2.0` is released it will be necessary to use the SDK. We are discussing how to make it optional in the future but I don't have an ETA on when that will

[2021-05-07 19:52] nafiskabbo commented on #7
Hey @CodyEngel ,
It is now working on the Sandbox mode. Now the client has submitted for Live Production Mode Request. Hoping while editing the scopes, the return url won't be invalid at that time!

[2021-05-08 09:07] habibmax95 commented on #8
After using com.paypal.openid.RedirectUriReceiverActivity, the pay sheet opened.
But I am having two problems,

1. The checkout activity where the payment button resides automatically closed when I tap on Payment button.
2. After selecting the card from Paysheet, The paysheet doesn't dismiss.

[2021-05-10 12:01] mikasR commented on #6
Hi @CodyEngel , this is the content of the ErrorInfo

Error: ErrorInfo(error=java.lang.IllegalArgumentException: Return URL is null, reason=Error approving order, correlationIds=CorrelationIds(eligibilityDebugID=null, fundingEligibilityDebugID=null, updateClientConfigDebugID=4d8de8a949bbd, lsatUpgradeDebugID=null, fetchPayloadDebugID=null, currencyConversionDebugID=null, finishCheckoutDebugID=null

[2021-05-12 09:10] mikasR commented on #6
OK, great.

Thank you.

[2021-05-12 09:10] #6 closed

[2021-05-17 14:36] CodyEngel commented on #7
Hey @nafiskabbo -- the changes have been pushed so you should be able to use numeric values in the return url now.

[2021-05-17 14:40] nafiskabbo commented on #7
@CodyEngel
Thanks for it. I have a question that my client is facing in Live Production Mode but perfectly working in Sandbox mode.
See attached image please and if you can give me any solution.

![Screenshot_20210508-023910_Chrome](https://user-images.githubusercontent.com/69830273/118507457-10ad6d80-b750-11eb-8824-17f76059a8bc.jpg)

[2021-05-17 16:02] CodyEngel commented on #7
Hey @nafiskabbo happy to hear the return url is working for production. That screen looks like a web fallback experience which is how the SDK handles flows that are not currently supported with Native. It looks like that card cannot be verified by the issuer, [I found this help article which could help with solving that problem](https://www.paypal-community.com/t5/Archive/quot-This-card-cannot-be-

[2021-05-17 16:02] #7 closed

[2021-05-21 11:18] mikasR opened #10 "CaptureOrderResult.Success is lacking payment information"
Hi @CodyEngel ,

We have implemented refunds with the PHP SDK, and for that we need the paymentID or captureID (i don´t know).

On iOS we get this value on the success response of the capture method. However, in android we only get an orderStatus which is an enum and an ID which is the orderID and is no good for us to call the refund method.

Could you please implemente on the android SDK the same

[2021-05-21 18:08] CodyEngel commented on #10
Hey @mikasR -- thanks for the request. I added this to our backlog, we should be able to start work on it soon. I'll update this ticket once it's ready to go.

[2021-05-24 10:13] mikasR commented on #10
Hi @CodyEngel,

Thank you for the feedback.
We really need this feature so we can launch our app to production.

Thanks

[2021-05-25 07:45] longnguyencmg opened #11 "Failed to initialize button PayLaterButton and PayPalCreditButton"
When I tried to setup buttons, after loading a while I can only see the button `PayPalButton`. Two other buttons (`PayLaterButton`, `PayPalCreditButton`) were disappeared.

I'm sure what's wrong with my config.

Please help with this issue

[2021-05-25 17:37] CodyEngel commented on #11
Hey @longnguyencmg -- for Payment Buttons they will run through a funding eligibility check, if that funding option is not eligible then the button will not be rendered. `PayPalButton` will generally always be eligible so it's recommended to make use of that as a fallback if the preferred button is not eligible.

[2021-05-26 19:09] nafiskabbo commented on #7
@CodyEngel
bro my client is always getting this error. As you said to contact Paypal Support team, I contacted them and they said to try with one of the relatives or other person's paypal account. We tried that. But We are having always the same error in PayPal Live Mode. Images Attached. Please help me.  It's happening always

![Screenshot_20210526-214710_AnyDesk](https://user-images.githubuserco

[2021-05-26 19:10] nafiskabbo commented on #7
This card can't be used for this type of transaction. Please help!

[2021-05-27 20:38] #11 closed

[2021-05-27 22:07] CodyEngel commented on #8
Developer documentation for customizing the return url is live, closing this issue. Thanks again for reporting this!

https://developer.paypal.com/docs/business/native-checkout/android/customize-return-url/

[2021-06-01 05:14] gkpatel461 opened #13 "Showing Error page with "Invalid Scope""
I was unable to find a reason why this error comes.
![WhatsApp Image 2021-05-31 at 5 27 07 PM](https://user-images.githubusercontent.com/25001927/120269872-3d23c680-c2c6-11eb-82cc-318a513cbcc7.jpeg)

Please help me to solve this.
I have completely followed the document without any mistake.

[2021-06-01 15:58] CodyEngel commented on #13
Hey @gkpatel461 please ensure that from your REST App underneath "Login With PayPal" and under the "Personal profile" section that both "Full name" and "Email" are checked. If they are checked both checked then please provide your client id so that I can look into this issue further.

[2021-06-02 08:56] gkpatel461 commented on #13
Thank you for your reply. But I am unable to get the "REST App underneath" for the Login with Paypal option.
I just want to use the Paypal Checkout option as a payment gateway for the eCommerce Android App. No need for login with PayPal.

Client ID: AXrxro3r5RiaVIK6rGZHxwMj_arNmQWqABQP7DhulP5NEKwc87MjYnH44MJHuzdGFP1xhle4YkUALYbM

Also, I have tried this demo app by adding a return URL per the docu

[2021-06-03 17:26] CodyEngel commented on #13
@gkpatel461 it looks like the Client ID is missing scopes that are granted after following the "Know Before You Code" section of our [official developer documentation](https://developer.paypal.com/docs/business/native-checkout/android/#know-before-you-code). Enabling Login with PayPal is necessary for the SDK to function as buyers will be redirected to PayPal to first login before they can see the

[2021-06-03 23:53] nafiskabbo opened #14 "This card can't be used for this type of transaction"
**Describe the bug**
My client is always getting this error. As you said to contact the Paypal Support team, I contacted them and they said to try with one of the relatives or another person's PayPal account. We tried that. But We are having always the same error in PayPal Live Mode. Images Attached. Please help me.  It's happening always. The Screenshots are written in France Language But In Engl

[2021-06-04 02:21] nafiskabbo commented on #14
Updates:

On Screen: Register a card to make your purchase. We will then send the payment without giving your financial information to the merchant

**On Click of "Payer", it is doing nothing and It is also not saving my card. Help me, please.**

Screenshots:
![Screenshot_20210604-045534_Chrome](https://user-images.githubusercontent.com/69830273/120736159-8f0a5d80-c50d-11eb-9d15-b4bc8b1dba67.jpg)

[2021-06-04 06:44] gkpatel461 commented on #13
Thank you for your reply. Its worked.
Is there an option for the user to pay using a card only without login into PayPal?

[2021-06-08 14:17] CodyEngel commented on #13
@gkpatel461 happy to hear that worked. We currently only support authenticated PayPal flows, however once the buyer has logged in they should remain logged in for future purchases.

I'll go ahead and close this issue out.

[2021-06-08 14:17] #13 closed

[2021-06-08 14:46] tdchow commented on #14
Hey @nafiskabbo! Thanks for reporting this bug. This looks like an issue that's outside of the native checkout SDK. I'll need to reach out to the appropriate team to investigate this. Will keep you updated.

[2021-06-08 15:42] tdchow commented on #14
@nafiskabbo Just to make sure, have you tried adding different credit cards to the account? Also, is this something you can reproduce in the Sandbox environment?

Looking at the latest screenshot you provided. I believe the "Payer" button is not working because a payment method hasn't been added yet. Once we can get your first issue resolved, the rest of the checkout process should work.

[2021-06-08 15:46] nafiskabbo commented on #14
My Client has tried to use his Two (One Personal and One Business PayPal Accounts) Then He tried with his friends PayPal and their Credit Card. But every time it gives the same error.

Regarding "Payer" Button, he tried to add Payment Method, but it's not saving any data.

[2021-06-09 14:44] tdchow commented on #14
Hey @nafiskabbo. Still looking into the issue for you. Would you be able to provide some additional information?

* How is the paysheet launched from your app? Are you setting an orderId, or is an order object being passed in?
* Can you provide the URL that's being opened in the chrome window right when the paysheet is launched? Please remove any tokens or keys from the URL.

[2021-06-16 06:00] kebenxiaoming opened #15 "Request log in paypal scope permission"
We want to use paypal in our app.We have sent an email to help-loginappreview@paypal.com in order to obtain the email permission to log in with paypa,but it's been more than 10 days and we haven't received a reply.Our client_id is: AWpMbiZI8NKS7Fq9LfqLi2iQeLNBGbSlQilzGvl8EtMKPjvNy8xd3PaRZKeZ1H63_b3Ag-LmKIY_51RZ
Thanks a lot for your reply.

[2021-06-16 14:34] CodyEngel commented on #15
Hey @kebenxiaoming thank you for reaching out, we're currently working with the team that handles the approvals. I'll be heading out on vacation after today however @mstuart or @tdchow should be able to help provide updates on this.

[2021-06-17 01:39] kebenxiaoming commented on #15
@CodyEngel Thank you very much, the problem has been solved today.

[2021-06-17 01:41] #15 closed

[2021-06-18 07:01] panguojian opened #16 "There is a problem when I compile and install"
**Execution failed for task ':app:checkDebugAarMetadata'.

     Searched in the following locations:
       - https://dl.google.com/dl/android/maven2/android/arch/lifecycle/extensions/2.1.0/extensions-2.1.0.pom
       - https://repo.maven.apache.org/maven2/android/arch/lifecycle/extensions/2.1.0/extensions-2.1.0.pom
       - https://oss.sonatype.org/content/repositories/snapshots/android/arch/life

[2021-06-18 16:30] tdchow commented on #16
Hey @panguojian! Thanks for reaching out. I'm currently looking into the issue.

In the meantime, would you be able to share your project's build.gradle files?

[2021-06-18 19:12] tdchow commented on #16
@panguojian - I was able to reproduce the issue and am currently working on a fix. I hope to have a snapshot build for you to try out early next week. Will keep you updated!

[2021-06-19 10:27] panguojian opened #17 "Enable code obfuscation mechanism, paypal checkout sdk does not work normally"
Enable code obfuscation mechanism, paypal checkout sdk does not work normally

[2021-06-19 10:29] panguojian commented on #16
I suspect this problem is related to the gradle version

[2021-06-21 19:32] tdchow commented on #16
@panguojian I found a workaround that should allow you to successfully build with the Checkout SDK.

In your project's gradle.properties file, add the following lines:
[code]

`enableJetifier=true` is required to force the use of AndroidX libraries. I'm still working on a fix that will remove the need for Jetifier, but hopefully, this will unblock you!

[2021-06-21 19:43] tdchow commented on #17
Hey @panguojian. Thanks for reporting this. Would you be able to provide additional information?
* Which obfuscation tool are you using? (proguard, R8)
* What issue are you seeing with the Checkout SDK?

[2021-06-22 09:11] panguojian opened #18 "I encountered a problem. When I make the phone's network unavailable, PaypalButton shows loading, which is normal. But when I make the mobile network available, PaypalButton still shows loading. Even restarting the app will not solve this problem."
I encountered a problem. When I make the phone's network unavailable, PaypalButton shows loading, which is normal. But when I make the mobile network available, PaypalButton still shows loading. Even restarting the app will not solve this problem.

[2021-06-22 17:23] tdchow commented on #18
Thanks for reporting this @panguojian. I was able to reproduce the issue but was seeing the PaypalButton load properly after restarting the app (when the Activity containing the PaypalButton is recreated).

I've added an item to our backlog to gracefully handle changes in network connectivity.

[2021-06-28 15:31] tdchow commented on #16
Closing this issue.

[2021-06-28 15:31] #16 closed

[2021-06-29 09:48] pratikvar opened #20 "OrderContextNotAvailableException while capturing payment"
**Describe the bug**
While capturing payment inside `onApprove`, app crashed giving `OrderContextNotAvailableException`

**To Reproduce**
Steps to reproduce the behavior:
1. Get order id from own server
2. set order id inside `createOrder`
3. complete payment
4. See error

**Expected behavior**
It should work without crashing

**Smartphone (please complete the following information):**
 - Android

[2021-06-29 09:49] pratikvar commented on #20
Code
[code]

[2021-06-29 14:07] CodyEngel commented on #20
Hey @pratikvar, it looks like you are trying to capture an order with a token that was generated by your own server. In that case you'd want to also capture the order using your server as well, client-side capture is only supported for orders that are created client-side.

[2021-06-29 14:07] #20 closed

[2021-06-30 11:51] pratikvar commented on #20
@CodyEngel Then why same flow works smoothly for IOS?

[2021-06-30 14:57] tdchow commented on #14
Closing due to inactivity.

[2021-06-30 14:57] #14 closed

[2021-07-01 03:17] kebenxiaoming opened #21 "The PayPal client is installed, but now you can only call the web payment in the app"
The PayPal client is installed, but now you can only call the web payment in the app.

Can we call the client on the mobile phone with PayPal client, and then call the web page without the client.

This makes the user feel more optimized.

[2021-07-01 14:24] CodyEngel commented on #21
Hey @kebenxiaoming can you provide additional details when you say:

Are you talking about authentication with the Checkout SDK going through a web browser as opposed to the PayPal Android app or something else?

[2021-07-01 14:51] CodyEngel commented on #20
@pratikvar -- the Android SDK took this approach because PayPal supports many different APIs for server-side integrations including: [NVP](https://developer.paypal.com/docs/nvp-soap-api/), [Payments v1](https://developer.paypal.com/docs/api/payments/v1/), [Orders v2](https://developer.paypal.com/docs/api/orders/v2/), there are also third party sales integrations that will call these APIs.

Our cli

[2021-07-02 01:45] kebenxiaoming commented on #21
@CodyEngel Yes, is it possible to log in and pay only through a web browser. Can we call the client on the mobile phone with PayPal client, and then call the web browser without the client?

[2021-07-06 14:58] tdchow commented on #17
Closing due to inactivity.

[2021-07-06 15:00] tdchow commented on #18
The work has been picked up and should be in the next release of the SDK.

[2021-07-07 17:13] CodyEngel commented on #21
@kebenxiaoming login without a browser switch is not something we have plans of supporting as it would deviate from best practices for OAuth 2.0.

[2021-07-07 17:13] #21 closed

[2021-07-08 06:47] kebenxiaoming commented on #21
@CodyEngel Thank you for your reply.

[2021-07-13 21:48] LorenzoFumagalli opened #23 "SDK crash on second order after login"
Hi, after the login with a sandbox account the order is confirmed and everything is ok.
While trying to create a new order however the SDK crash with the following

kotlin.UninitializedPropertyAccessException: lateinit property accessToken has not been initialized
        at com.paypal.pyplcheckout.utils.PYPLCheckoutUtils.getCheckoutLiteUrl(PYPLCheckoutUtils.kt:239)
        at com.paypal.pyplcheck

[2021-07-13 22:12] tdchow commented on #23
Hey @LorenzoFumagalli! Thanks for reporting this issue.

We're aware of the problem and are currently working on the fix. I'll keep you updated on the status here in this thread.

[2021-07-14 16:10] tdchow commented on #23
@LorenzoFumagalli - A server side fix was deployed that should resolve this issue.

In the next release of the SDK we'll have a fix to prevent this crash, but the underlying issue ended up being server side. Please try again with the same version of the SDK and let me know if you see any issues!

[2021-07-14 21:13] LorenzoFumagalli commented on #23
Hi @tdchow

Thanks for your feedback.
In the next few days I will test it with different configuration and locale since I was able to replicate the same crash on a device with locale in Italy.

Many thanks

[2021-07-16 14:54] tdchow commented on #23
@LorenzoFumagalli - No worries! I'm going to close out this issue, but please reach out if you encounter the issue again.

[2021-07-16 14:54] #23 closed

[2021-07-20 20:55] lorenzolopez928 opened #24 "Paypal android checkout sdk gives invalid scope in live mode"
I am developing an android application which includes in-app Paypal payments for buying coins.
I am using the latest version 0.3.0.
I am facing the following error when clicking Paypal Button in LIVE mode
![Screenshot_2021-07-06-12-51-15](https://user-images.githubusercontent.com/11564940/126393562-6bbe5cec-2425-4bff-8262-ea726cc7cfe0.png)

I have the following configuration in my code:
[code]
Thi

[2021-07-21 17:28] maxczc commented on #23
the crash happend to me , the paypal checkout version is 0.3.1

[2021-07-22 17:29] CodyEngel commented on #24
@lorenzolopez928 thank you so much for such a detailed report! It looks like the personal profile is only requesting full name instead of full name and email. Checking email should resolve the issue -- sometimes it can take up to 3 hours for new scopes to propagate so if you don't see the issue resolved immediately please give it a few hours.

I'm closing the issue for now as this has been a commo

[2021-07-22 17:29] #24 closed

[2021-07-23 00:39] lorenzolopez928 commented on #24
Thank you very much for the fast response. But I can't mark the email option in LIVE mode, Paypal says that for email requesting I have to pass the review process. It's that true?

[2021-07-27 20:43] tdchow commented on #23
Hey @maxczc! If you're still seeing this crash, would you be able to open a separate issue and share your config/integration information? Would love to help you with your SDK integration 😄

[2021-07-29 17:29] CodyEngel commented on #10
We've added `purchaseUnits` to the Success result for both Authorize and Capture actions. The `PurchaseUnit` object will now contain the capture and authorize IDs which can be used to help facilitate returns. This change is expected to be available in our next regular release.

[2021-08-03 06:54] A-10ng opened #25 "Logcat:"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2021-08-03 06:54] A-10ng opened #26 "Logcat:"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2021-08-03 06:54] #25 closed

[2021-08-03 06:55] #26 closed

[2021-08-03 07:03] A-10ng opened #27 "FATAL EXCEPTION: OkHttp Dispatcher Process: com.xxx.xxx, PID: 15025 android.content.ActivityNotFoundException at com.paypal.openid.AuthorizationService.a()"
Action:
when I click the paypal button , anr shows(Two Nexus phone acts normally, A samsung phone does not behave properly ).

Logcat:
FATAL EXCEPTION: OkHttp Dispatcher     Process: com.xxx.xxx, PID: 15025     android.content.ActivityNotFoundException         at com.paypal.openid.AuthorizationService.a()         at com.paypal.openid.AuthorizationService.performAuthorizationRequest()         at co

[2021-08-03 15:19] tdchow commented on #27
Hey @A-10ng! Thanks for reporting the issue. A few questions:

* Are you using any code minification tools?
* Does the Samsung phone have the Chrome browser installed? If it doesn't, can you try installing Chrome and retesting the PayPal Checkout SDK? This should help identify the issue.

[2021-08-04 02:30] A-10ng commented on #27
1.No minification tools

[2021-08-04 02:37] A-10ng commented on #27
1.No minification tools
2.Not work

[2021-08-05 18:51] tdchow commented on #27
Can you please provide a list of all the browsers you have installed on that Samsung device? And can you provide the app ids for each?

[2021-08-06 07:46] leon2017 opened #28 "lateinit property accessToken has not been initialized"
When we wake up SDK payment, we always encounter an occasional crash. The crash log is as follows：
`UncaughtException: kotlin.UninitializedPropertyAccessException: lateinit property accessToken has not been initialized`

[2021-08-09 13:54] mikasR opened #30 "Payment Button status always returns error on version 0.4.0"
Hi @CodyEngel,

After migrating to version 0.4.0 the payment button always appears loading and the gets hidden.
I have this code to make a log:
payPal.setPaymentButtonEligibilityStatusChanged(paymentButtonEligibilityStatus -> Log.i("PaymentButtonEligibility", String.format("paymentButton : %s", paymentButtonEligibilityStatus)));

The output is the following:
2021-08-09 14:48:40.733 23927-23927/pt.

[2021-08-10 17:00] tdchow commented on #28
Hey @leon2017! Could you try pulling in the latest version of the SDK? We just released 0.4.0 which should address this crash.

[code]

[2021-08-10 19:25] tdchow commented on #30
Hey @mikasR! An additional parameter was added to the `CheckoutConfig` that's used for the payment button eligibility. Can you try setting this value and see if the payment button is shown?

[code]

[2021-08-10 19:35] mikasR commented on #30
Hi,
Yes. I have set it as CAPTURE, but the result is the same.
At least on the decompiled sdk code there seems to be a bug. I noticed there’s some code setting the elegibility as Error everytime the button is initialized.

[2021-08-11 09:36] leon2017 commented on #28
Thank you. I'll try

[2021-08-11 12:20] androidGithubRookie opened #31 "PayPalButton quickly click the page to disappear"
Click the button PayPalButton continuously and the page disappears without displaying，PayPalButton don't do continuous click exception handling

[2021-08-11 14:14] tdchow commented on #10
Hey @mikasR. The 0.4.0 release is out! This release added the additional data in the `OnApprove` callback.

[code]

[2021-08-11 14:16] tdchow commented on #18
Hey @panguojian. The 0.4.0 release is out. This release added a network listener to the payment button. Now when a buyer gains connection, the payment button will render.

[code]

[2021-08-11 14:26] tdchow commented on #30
Hm. There's an Android version code check that sets the eligibility status in the init block.

[code]

Are you using the `PayPalButton` variant of the `PaymentButton`?

[2021-08-11 14:40] #10 closed

[2021-08-11 15:11] mikasR commented on #30
Yes, i am using PayPalButton.

I found the problem.

In the documentation, it says that this code must be put on the Application class

[code]

This used to work fine prior to version 0.4.0.

What happens now is that this code gets executed when the app launches, which executes the following in PayPalCheckou.kt:
[code]

As for in the PaymentButton.kt, we find this:
[code]
What happens is that this

[2021-08-11 15:18] tdchow commented on #30
Thanks so much for the detailed investigation!

You should be safe setting the config in your Activity instead of the Application class. We initially recommended setting the config in the application class to frontload that eligibility call.

I'll create a ticket for our backlog to fix this behavior when setting the config in the Application class.

Thanks again for quickly reporting this and for

[2021-08-11 15:30] #30 closed

[2021-08-11 16:08] tdchow commented on #31
Hey @androidGithubRookie! I added a ticket to our backlog to handle multiple clicks of the PaymentButton. This should be fixed in our next scheduled release.

[2021-08-13 15:12] tdchow commented on #31
@androidGithubRookie - This is now resolved in the latest version of the SDK!

[code]

[2021-08-17 07:13] A-10ng commented on #27
Only Google Chrome v12.29.8.23.arm64（Sorry to reply u so late）

[2021-08-17 18:31] tdchow commented on #18
Closing this issue. @panguojian, feel free to respond here if you're having issues with the Payment Button responding to network status.

[2021-08-17 18:31] #18 closed

[2021-08-17 18:31] tdchow commented on #28
Closing this issue. @leon2017 let me know if you continue to see issues with the latest version of the SDK.

[2021-08-17 18:31] #28 closed

[2021-08-17 18:32] tdchow commented on #31
Closing this issue. @androidGithubRookie - let me know if you have issues with the latest version of the SDK.

[2021-08-17 18:32] #31 closed

[2021-08-17 21:24] tdchow commented on #27
Hey @A-10ng - No worries. I spent some time looking into the issue and I've narrowed it down to being an issue with the installed browser(s) on the device.

Follow-up question - Is there an MDM solution on that Samsung device?

I'm working on a fix that will hopefully resolve the issue.

[2021-08-18 03:40] A-10ng commented on #27
No MDM solution

[2021-08-18 15:53] mikasR opened #33 "Problem with version 0.4"
After updating the SDK to version 0.4.0 and 0.4.1 all transactions on the LIVE environment started failing with the error on the screenshot. This happens right after tapping on the PayPalButton.
Prior to this update, everything was working fine. We also have an iOS implementation using the same account and it works ok.

![image](https://user-images.githubusercontent.com/10234099/129930346-00dc6034

[2021-08-18 18:36] jcnoriega commented on #33
HI! could you provide a code snippet in how you are configuring the sdk?

[2021-08-19 08:42] wcoopg opened #34 "How to specify the payee with the android-checkout-sdk?"
In IOS I used: `PurchaseUnit(payee: PurchaseUnit.Payee(merchantId: someMerchantID))`. But in Android I can't find this option

[2021-08-19 08:50] A-10ng opened #35 "while Using SDK with server-side integration, client can not pay the order"
while Using SDK with server-side integration, client click the button "查看订单 check the order"，there is no way to pay

![image](https://user-images.githubusercontent.com/32977668/130037783-09fc4fd0-99c7-4b6a-a4fa-d16206c7e4f4.png)

CheckoutConfig：
[code]

Method Setup：
[code]

paypal SDK Version：0.3.1
environment: SANDBOX

[2021-08-19 15:05] tdchow commented on #34
Hey @wcoopg. I created a ticket for adding `Payee` to the `PurchaseUnit` class. I'll also make sure that we match iOS's `OrderRequest`.

I'll update you here once the changes have been released.

[2021-08-19 16:23] jcnoriega commented on #35
That text corresponds to `Continue` instead of `PayNow`. Can you check if your server-side create order call is actually setting `PayNow` instead of `Continue`?

[2021-08-19 16:49] wcoopg commented on #34
@tdchow Thank you for your reply.

[2021-08-20 06:14] A-10ng commented on #35
Ok, it worked. Thx!

[2021-08-20 06:14] #35 closed

[2021-08-20 08:36] mikasR commented on #33
[code]

[2021-08-24 03:28] chenzhengyeah opened #36 "AAPT: error: duplicate value for resource 'attr/button_color' with config ''."
AAPT: error: duplicate value for resource 'attr/button_color' with config ''.
During integration, I have conflicts with the existing three-party SDK resource names of the project. Can you modify the resource names?Or can you guide me to deal with this situation?

values.xml
 <declare-styleable name="PayPalActionButton">
        <attr format="enum" name="button_color">
            <enum name="blue"

[2021-08-24 03:42] qtls123 opened #37 "Could not download cardinalmobilesdk-2.2.4-1.aar"
What went wrong:
Execution failed for task ':quickstart-kotlin:mergeDebugNativeLibs'.
Could not resolve all files for configuration ':quickstart-kotlin:debugRuntimeClasspath'.
Could not download cardinalmobilesdk-2.2.4-1.aar (org.jfrog.cardinalcommerce.gradle:cardinalmobilesdk:2.2.4-1)

allprojects {
repositories {
mavenCentral()
mavenLocal()
google()
jcenter()

  maven {
      url 'https://oss.so

[2021-08-24 17:55] tdchow commented on #37
Hey @qtls123, It looks like you have an incorrect username for the Cardinal Maven repository. Can you try replacing `braintree_team_sdk` with `paypal_sgerritz`?

https://developer.paypal.com/docs/business/native-checkout/android/#2-add-the-sdk-to-your-app

[2021-08-24 20:07] tdchow commented on #36
Hey @chenzhengyeah. I've created a task for renaming these resources within the SDK. Unfortunately, I don't think there's a current workaround for the issue.

Just to make sure, you're only seeing conflicts for these 2 resources: `button_size` and `button_shape`?

I'll let you know once the work has been picked up and when the new version of the SDK is available.

[2021-08-24 20:56] LorenzoFumagalli opened #38 "OnApproval like REST v2"
Hi all,

In my integration, after completing the order with the onApproval callback, we have to send to our server a set of information regarding the order. To get this data we call the rest api /v2/checkout/orders/id with the order id received from the SDK.

Is it possible to get the same information with the current version of the SDK?

In the last version, some of the data of the order seems to

[2021-08-25 01:21] chenzhengyeah commented on #36
Thank you very much for replying to my question. At present, there are 3 conflicts during compilation--button_color，button_size，button_shape。I appreciate your help.

[2021-08-25 01:55] qtls123 commented on #37
I tried to use it      maven {

                url "https://cardinalcommerceprod.jfrog.io/artifactory/android"
                credentials {
//                    username 'braintree_team_sdk'
//                    password 'AKCp8jQcoDy2hxSWhDAUQKXLDPDx6NYRkqrgFLRc3qDrayg6rrCbJpsKKyMwaykVL8FWusJpp'
                    username 'paypal_sgerritz'
                    password 'AKCp8jQ8tAahqpT5JjZ4FR

[2021-08-26 06:46] rancekk opened #40 "Click the payment button when there is no network, and the application crashes"
Click the payment button when there is no network, and the application crashes
![919b0a6ba62ef2fa750e092e0c755dc](https://user-images.githubusercontent.com/23482942/130914400-b13bc5f3-c832-4361-9cf0-978f14d55abe.png)
![63250545c938d00f14b7b0c140c54ca](https://user-images.githubusercontent.com/23482942/130914413-c1e1eaff-d281-47c2-8acc-bc21ae5a3c1f.png)

[2021-08-26 08:20] A-10ng opened #41 "Only Published App can pass the app review request to pay in live environment?"
Only Published App (eg: In Google Play, Apple Store, Huawei Application Market and so on) can pass the app review request to pay in live environment?

It work fine in sandbox mode, but when I switch to live mode, it shows the error "invalid scope"(issue #24 ).

I send the email to ur team and got the error msg:
Access denied to your site/application.

Hope u can answer my question!

[2021-08-30 02:36] A-10ng commented on #41
Client ID:
AY3hM8sy5y6C6dTcqZQNzFTPAa3LjLX4tHkE77g2ve4hrRBWHkj_8SacjCGAyDXPdM2pjQQxWH3yXmry

[2021-08-30 15:20] tdchow commented on #41
@A-10ng Thanks! I just reached out to an internal team to get this issue resolved. Will have an update soon.

[2021-08-30 20:03] tdchow commented on #41
Hey @A-10ng, I just heard back from the internal team. Could you try your integration again with the Live environment?

[2021-08-31 04:05] w1532106001 commented on #40
@jcnoriega airplane mode

[2021-08-31 06:30] A-10ng commented on #41
It stuck at "Securely Logging You In..."( even I clear my browser's cache and cookie or uninstall my app), but  I can login in web page (an approve link, eg:https://www.paypal.com/checkoutnow?token=xxxxxxxxxxx)
<img width="361" alt="企业微信截图" src="https://user-images.githubusercontent.com/32977668/131452882-af0d1f76-5b84-45b5-93ae-5b455eeb558a.png">

Should I add this scope? Hope u can give me a sol

[2021-08-31 08:45] A-10ng commented on #41
It runs well. Thx!

[2021-08-31 09:04] #41 closed

[2021-08-31 13:57] tdchow commented on #41
No worries! Glad I was able to resolve the issue for you!

[2021-09-01 14:05] LorenzoFumagalli commented on #38
HI @jcnoriega, do you have any news regarding my previous comment?

[2021-09-01 19:13] jcnoriega commented on #38
Hi @LorenzoFumagalli im looking at it, I'll let you know when i have any updates on this.

[2021-09-01 19:13] jcnoriega commented on #40
@w1532106001 thank you, taking a look at it now

[2021-09-02 04:59] Sidd-dev-android opened #44 "Invalid Scrope on PayPal.com Page in Chrome"
When I run this code after cloned it. Then Change my Client & Secret Key Live after that on the Client Integration button click open create order page after filling all forms then Submit it redirect on Paypal.com page but showing invalid scope nothing performs. Please see a screenshot from the attachment.

![image_2021_09_02T04_10_24_240Z](https://user-images.githubusercontent.com/72066132/1317845

[2021-09-02 08:37] A-10ng opened #45 "Can we customize the paypalbutton's onClick event? If can , how?"
Can we customize the paypalbutton's onClick event? If can , how?

Cuz I want to deal with other things before I click the paypalbutton. Hope u can answer my question~

[2021-09-02 09:01] w1532106001 commented on #40
The crash is gone. Thanks

[2021-09-02 09:01] #40 closed, assigned to nobody

[2021-09-02 09:27] chenyao1208 opened #46 "when second time enter the page,the payment button ,it will disappear,or can not display."
When  i first click payment button is OK ，will enter login page ,but back to  home page ,second enter payment page，the  payment button is just loading ,and  can not display.

![微信图片_20210902172129](https://user-images.githubusercontent.com/21217350/131819087-9b3b2ac8-29ea-4441-ac7f-758c9743f32c.png)
![微信图片_20210902172205](https://user-images.githubusercontent.com/21217350/131819103-d52b55aa-5c5c-4

[2021-09-02 10:12] jcnoriega commented on #45
Hi @A-10ng! As of now you can not override the `onClickListener`.  As an alternate solution you could wrap the button inside a `View` and set the `onClickListener` to that `View` where inside it could call `paymentButton.performClick` once you have finished with your operations.
We'll take your suggestion into consideration.

[2021-09-02 12:28] A-10ng commented on #45
Thank u ~

[2021-09-02 16:46] RaffaLinux commented on #46
Hi @jcnoriega i can confirm that even with the latest sample project changing activity or fragment causes the button to be stuck in loading and then disappear

[2021-09-02 19:13] developer-dmp opened #47 "General instability/incompatibility with SDK"
I have imported `com.paypal.checkout:android-sdk:0.1.0` into my project for native deposit flow - running into a number of issues on varying OS levels.

## Implementation Details
We are making use of the [Server-side integration](https://developer.paypal.com/docs/business/native-checkout/android/sdk-server-side/#1-launch-the-payment-sheet). There is no issue with our server implementation in regar

[2021-09-03 06:26] chenyao1208 commented on #46
Hi @jcnoriega  I upgrade to 0.4.4 and it's still there.

[2021-09-03 06:34] chenyao1208 commented on #46
this is log
![image](https://user-images.githubusercontent.com/21217350/131960908-41842581-344f-4fda-adf3-6accc724e2b6.png)

[2021-09-03 15:26] lorenzolopez928 opened #49 "Error while capturing order"
I have archived get my app to LIVE, but in the time of capturing orders in client side with this SDK I get the following error
`message=Capture order failed., reason=LSAT upgrade failed while capturing order.`

[2021-09-03 15:28] lorenzolopez928 commented on #24
I archived to pass the PayPal review process, It was very straightful and difficult.

[2021-09-06 01:35] vientn1998 commented on #46
me too, please help me @jcnoriega

[2021-09-06 08:36] tnv1998 commented on #46
The same error. plz fix it thank you

[2021-09-06 08:36] tnv1998 commented on #46
The same error. plz fix it thank you

[2021-09-06 09:21] tnv1998 opened #50 "Button paypal does not show when setup called time second"
The error from your example github

https://github.com/paypal/android-checkout-sdk/blob/main/quickstart-kotlin/src/main/java/com/paypal/checkoutsamples/paymentbutton/PaymentButtonQuickStartActivity.kt

This video: https://drive.google.com/file/d/1KfvUy5U011JMngmXf7-V-_8yH_PgBMfW/view?usp=sharing

[2021-09-07 14:35] tdchow commented on #27
@A-10ng Sorry for the delay. I have a fix that's still waiting for deployment. Will keep you updated.

[2021-09-07 14:39] tdchow commented on #33
Hey @mikasR - Would you be able to provide me your Live clientId? I can take a look and see if your Live app is set up correctly.

[2021-09-07 14:43] tdchow commented on #44
Hi @Sidd-dev-android - You'll need to perform these steps in order for your ClientId and Secret to work in this demo app: https://developer.paypal.com/docs/business/native-checkout/android/#know-before-you-code

Going to close out this issue, but feel free to open a new one if you encounter any issues!

[2021-09-07 14:43] #44 closed

[2021-09-07 14:50] tdchow commented on #49
Hey @lorenzolopez928 - Few questions to help debug this issue:

1. Are you able to reproduce this issue every time you checkout with the SDK?
2. Can you provide all of the `CorrelationIds` in the `ErrorInfo` object that's returned in the `OnError` callback?

[2021-09-08 10:28] mikasR commented on #33
Is there a way i can send you the clientID in a private message?

[2021-09-08 14:15] tdchow commented on #33
Yep, feel free to email me at tichow@paypal.com.

[2021-09-08 14:57] mikasR commented on #33
Sent...

[2021-09-09 01:57] nvngoc2409 commented on #50
@jcnoriega

[2021-09-09 03:42] A-10ng commented on #46
The same error with more log

[2021-09-09 15:52] faiz106 commented on #50
I was having the same issue until i downlgraded to 0.20 version

   implementation'com.paypal.checkout:android-sdk:0.2.0'

[2021-09-09 15:52] faiz106 commented on #46
I was having the same issue until i downlgraded to 0.20 version

   implementation'com.paypal.checkout:android-sdk:0.2.0'

[2021-09-10 03:48] A-10ng commented on #50
But when I downlgraded to 0.20 version, all the http requests can not receive response, so strange @faiz106

[2021-09-10 10:34] jcnoriega commented on #50
Hi! Thank you so much for reporting. A pull request to fix this has been created and it will be included on the next release next week.
The bug happens when `PayPalCheckout.setConfig()` is called in the `Application` class. A quick workaround this, is to call `setConfig()` on the same activity that renders the `PaymentButton`.

[2021-09-10 10:34] jcnoriega commented on #46
Hi! Thank you so much for reporting. A pull request to fix this has been created and it will be included on the next release next week.
The bug happens when `PayPalCheckout.setConfig()` is called in the `Application` class. A quick workaround this, is to call `setConfig()` on the same activity that renders the `PaymentButton`.

[2021-09-10 14:24] #33 closed

[2021-09-10 14:59] tdchow commented on #47
@developer-dmp - Thanks for the very detailed description and logs. I think there are a few issues that you're pointing out. Let me try to break them down.

### Requiring Android API 23 and Above
Unfortunately, all versions of the Checkout SDK will require Android API 23 and above. The `generatePublicKey` function always required Android API 23. In version 0.4.0 we marked the external SDK function

[2021-09-10 15:09] tdchow commented on #34
Hey @wcoopg - Just wanted to let you know that the work has been completed and will be in the next release.

[2021-09-13 06:19] A-10ng commented on #50
Hello, @jcnoriega ，I remove ```setConfig()``` in the ```Application```  and call setConfig() on the same activity that renders the PaymentButton, but it stiil can't work. If I pay the bill, next time I enter the activity and error happens. if not, things go well.

[2021-09-13 14:41] lorenzolopez928 commented on #49
Every time I ceckout with the sdk i get this error in LIVE mode.

The error its not coming in error callback, just here
[code]

[2021-09-13 14:45] tdchow commented on #37
Closing this issue due to inactivity.

[2021-09-13 14:45] #37 closed

[2021-09-13 17:14] tdchow commented on #49
Can you try clearing your app data and try the checkout process again?

Would you also be able to share your client ID here? I can try looking up your Live app to make sure everything is set up properly.

[2021-09-14 03:56] lorenzolopez928 commented on #49
Hi, thanks for the response, this is my CLIENT_ID in LIVE
`AdpuP9npnFtPPy5motOKzr5EglnWvbKjGwWWqXG9tCItxeeUHBfjBsjflQQwA6EOnQVzJHRfUFn93avl`

I cleared my app data, but when made the login, Paypal redirects me to login page again. I closed the web prompted by the sdk and tried again and it worked, but this is not the desired behavior.

[2021-09-14 14:34] tdchow commented on #49
Hey @lorenzolopez928 - I just looked up your live account and everything seems to be set up properly.

After clearing app data is everything working properly? Did you switch over to live from the sandbox environment? I'm wondering if some data persisted for when sandbox was run that caused issues in live.

[2021-09-15 14:34] jcnoriega commented on #50
Version 0.4.5 is deployed with the fix. Please confirm if issue persists

[2021-09-15 14:34] jcnoriega commented on #46
Version 0.4.5 is deployed with the fix. Please confirm if issue persists

[2021-09-15 14:35] jcnoriega commented on #34
@wcoopg New version 0.4.5 containts current feature

[2021-09-16 02:26] A-10ng commented on #50
Problem solved !

[2021-09-16 05:52] BigBrother2018 opened #52 "When I get the orderid from the server and use the orderid to set the payment, the order amount and information cannot be displayed"
I get the orderid from the server and call createOrderActions.set(orderId), the order amount and information cannot be displayed, but when I create an order directly using CreateOrder{}, the order information and amount can be displayed. Why?

[2021-09-16 13:04] jcnoriega commented on #50
resolved, closing issue

[2021-09-16 13:04] #50 closed

[2021-09-16 13:04] #46 closed

[2021-09-16 13:04] jcnoriega commented on #34
Resolved, closing issue

[2021-09-16 13:04] #34 closed

[2021-09-16 14:57] jcnoriega commented on #52
Hi @BigBrother2018, thanks for your question. Check what `UserAction` is set for your order:

- `UserAction.CONTINUE` will not display the information, as it will return to your website to review the order
- `UserAction.PAYNOW` will display the information, as it will be charged immediately

[2021-09-21 15:03] lorenzolopez928 commented on #49
Hi @tdchow , now the integration is working properly. Thanks.

[2021-09-23 06:54] A-10ng opened #53 "lateinit property abManager has not been initialized"
When I start Charles and then start my App, My app crashes.
When I start my App and then start Charles, everything goes well.
Here is the log：

[code]

[2021-09-23 12:32] tarukhan19 opened #54 "Response is not in JSON format and payment ID is null"
The success response i am getting from Paypal , is not in JSON format and payment ID is also null.
How to overcome these problems.

[2021-09-24 09:35] androidGithubRookie opened #56 "Crash when opening the app after using the proxy（problem with version 0.4.5 bug）"
AndroidRuntime: FATAL EXCEPTION: OkHttp Dispatcher
    kotlin.UninitializedPropertyAccessException: lateinit property abManager has not been initialized
        at com.paypal.pyplcheckout.services.callbacks.BaseCallback.retryOnError(BaseCallback.kt:78)
        at com.paypal.pyplcheckout.services.callbacks.BaseCallback.onFailure(BaseCallback.kt:40)
        at okhttp3.internal.connection.RealCall$As

[2021-09-24 16:12] tdchow commented on #53
@A-10ng - Thanks for reporting this issue. Our team will take a look.

Are you seeing a similar issue when using the built-in Network Profiler in Android Studio?

[2021-09-24 16:14] tdchow commented on #56
Hey @androidGithubRookie - This looks like a duplicate issue of https://github.com/paypal/android-checkout-sdk/issues/53. I'm going to close this out, but please follow the other issue that was created.

[2021-09-24 16:14] #56 closed

[2021-09-24 16:17] tdchow commented on #54
Hey @tarukhan19 - Can you please provide additional information on your integration? You shouldn't be getting a JSON response from the Checkout SDK.

You should be seeing this response data class in the `OnApprove` callback:

[code]

[2021-09-24 16:26] tdchow commented on #47
Closing due to inactivity.

[2021-09-24 16:26] #47 closed

[2021-09-24 21:04] tdchow commented on #53
@A-10ng - Actually after looking into the issue, it should be resolved in the latest release of the SDK. Can you try testing with version `0.5.0`?

[2021-09-27 02:04] A-10ng commented on #53
Problem solved，Thx！ @tdchow

[2021-09-27 02:04] #53 closed

[2021-09-30 11:14] Noel-elon opened #57 "webpage doesn't redirect back to app after successful login"
Hello, I have an issue with my application. The webpage doesn't redirect back to the app after I've logged in. It goes back to the login screen (cc: the picture).
I've put the correct redirect URLs both on the dashboard and in code.
I've cross-checked the application ID too to be sure.

<img width="320" alt="Screen Shot 2021-09-30 at 12 13 50 PM" src="https://user-images.githubusercontent.com/4065

[2021-10-05 17:36] ndmunoz10 commented on #57
Hey @Noel-elon can you please provide more detail about your implementation?

- How and where are you calling the `CheckoutConfig` and `PayPalCheckout.setConfig` method?
- Please also provide a snippet from where you call the `setup` method in order to help you better

[2021-10-13 18:12] tdchow commented on #27
Hey @A-10ng - This issue should be resolved in the latest version of the SDK. Can you try updating to 0.5.1 and retesting?

[2021-10-19 08:44] walelgnw commented on #6
I tap cancel and the screen goes black, and the app restarts.

I am using a paymentbutton.PayPalButton.
All i did was setup the button. Tap on it, and on the paypal webview i tap cancel and app crushes with below error

 Unable to pause activity {com.vintechplc.zoe_store.debug/com.paypal.pyplcheckout.home.view.activities.PYPLHomeActivity}: java.lang.IllegalArgumentException: NetworkCallback was al

[2021-10-22 09:46] 1314-sophie opened #59 "App review request"
We want to use paypal in our app.We have sent an email to help-loginappreview@paypal.com in order to permission to App review request，but we received an email reply from help-loginappreview@paypal.com stating that the review process has been modified and go to developer.paypal.com and create an app with Log in with PayPal scopes, this will trigger an app review to the right team.

It seems that we

[2021-10-28 06:35] ZhihaoYang opened #60 "Double-click an entry in the PayPal address list, the APP flashes back"
**Describe the bug**
Double-click an entry in the PayPal address list, the APP flashes back

**To Reproduce**
Steps to reproduce the behavior:
1. Login paypal
2. Click on 'Shipping address options'
3. Double click any entry of paypal address list.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

https://user-images.githubusercont

[2021-11-02 18:48] tdchow commented on #59
Hey @1314-sophie! Can you take a look at the developer portal for the live app you created? Is `Native Checkout SDK` enabled?

![Screen Shot 2021-11-02 at 1 46 20 PM](https://user-images.githubusercontent.com/5005216/139926075-719b3839-3368-49c0-908d-89068bb017f0.png)

I looked up your live app and it looks like you're missing one scope. If `Native Checkout SDK` is already checked for your app, I'

[2021-11-02 19:21] tdchow commented on #60
Hey @ZhihaoYang - Thanks for reporting this issue! I was able to reproduce the crash and have reported it to the team who created the shipping page. Will keep you updated.

[2021-11-03 03:47] 1314-sophie commented on #59
Hi Tim Chow，

Thanks for your reply.&nbsp;
As you said, I have checked the Native Checkout SDK, as shown in the figure below:&nbsp;

Is this step correct?

Is there anything else I need to do?

Looking forward to your reply.

 Best Regards,
Sophie
2021/11/03
***@***.***

&nbsp;
&nbsp;
&nbsp;
------------------&nbsp;Original&nbsp;------------------
From: &nbsp;"Tim ***@***.***&gt;;
Date: &nbsp;Wed,

[2021-11-03 14:29] tdchow commented on #59
Hey @1314-sophie, I looked up your account again, and it looks like you have all of the correct scopes on your app. Can you place try your SDK integration again in the Live environment?

[2021-11-05 06:29] 1314-sophie commented on #59
Thanks for your reply.   @tdchow We will be try SDK  integration later.

[2021-11-10 10:30] alexandertechhub opened #63 "Payment hangs up on stage "Pulling up your digital wallet...""
Hello,

I have a question related to the PayPal Native Checkout SDK. I've already tried to find a similar problem here, but didn't find any. Originally we asked this question in the PayPal issue tracker, but they directed us here.

Here is the issue's description:

The first payment attempt brings the full sized login window. Enters login/pass there and press "Log in" button. After that, the botto

[2021-11-10 19:52] tdchow commented on #63
Hey @alexandertechhub! Thanks for reporting the issue and providing logs and screenshots!

Would you be able to post code snippets of your PayPal integration? (setting config along with invoking the checkout flow or payment button)

Could you also send a screen recording of the first attempt that includes the login process? I'm curious to see how the bottom sheet is displayed behind the app's wind

[2021-11-11 02:09] xiaoxiaohaozai opened #64 "Unable to receive order notification"
The payment was successfully initiated through the payment button provided by the SDK. It was found that the balance of the sandbox account was reduced, but the order notification could not be found on the developer platform. In the past, it was possible to pay through com.braintreepayments.api:paypal:4.+ Order notification

[2021-11-11 17:26] DevFreeze opened #65 "Completion of the PurchaseUnit class"
It would be really nice, if the PurchaseUnit Object could be extended with the missing parameters `payee` and `payment_instruction`.

[2021-11-12 08:21] DevFreeze commented on #65
Alright, nevermind :D was still at 0.2.0

But maybe someone should update the documentation: https://developer.paypal.com/docs/business/native-checkout/android/

[2021-11-12 08:21] #65 closed

[2021-11-12 15:07] tdchow commented on #60
@ZhihaoYang - This issue is now fixed in the latest version of the SDK (0.5.2). Could you please pull down the latest version and verify the fix?

[2021-11-12 15:16] tdchow commented on #65
Hey @DevFreeze - Thanks for taking another look at this! The code snippet we shared [here](https://developer.paypal.com/docs/business/native-checkout/android/#sample-code-1) only contains the most basic fields to create an order.

Thanks for your feedback! We'll think of ways to better surface these parameters.

[2021-11-12 16:33] alexandertechhub commented on #63
Hi, here are the requested resources.
Application class code:
[code]
Activity class code:
[code]
One thing regarding Screen recording: on 20th second, I switched between opened windows to demonstrate, that app's window has opened bottom panel (the corresponding window marked with red flag).

https://user-images.githubusercontent.com/94047869/141501293-acb247bb-4c14-410d-ae57-c214e606fc12.mp4

 Tha

[2021-11-12 21:15] Krleblok94 opened #67 "Unable to build the app with Gradle plugin 7.0.3. when the checkout sdk is added"
When you have the Android Gradle plugin version 7.0.2 or 7.0.3 and targeting Android 12 (compileSdkVersion = 31 and targetSdkVersion = 31 in the app Gradle file), the manifest merging when building the app fails due to some Activities with intent filters don't have explicitly set the exported attribute in the checkout SDK's manifest file.

Steps to reproduce the behavior:
1. Update gradle plugin v

[2021-11-14 19:38] DevFreeze commented on #65
Hey @tdchow - Thanks for the answer :)

I was only refering with updating the documentation on this part:

Since the code on this section: https://developer.paypal.com/docs/business/native-checkout/android/programmatically-start-sdk/
doesn't work anymore with version 0.2.0

However the addition of the payee parameter already helped me out a lot :D so thanks for your work ;)

[2021-11-15 04:12] lmzliuying opened #68 "com.google.gson.JsonSyntaxException"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2021-11-15 08:40] ZhihaoYang commented on #60
Version 0.5.2 has been verified, this problem has been fixed, thank you.

[2021-11-15 08:40] #60 closed

[2021-11-16 20:02] tdchow commented on #59
Closing due to inactivity. @1314-sophie - please reach out if you're still having issues with your Live integration.

[2021-11-16 20:02] #59 closed

[2021-11-16 22:02] tdchow commented on #27
Hey @bryanbernardo28 - I believe this is a different issue. This looks like a cause due to support libraries missing when building your project. Could you either try enabling Jetifier (adding `android.enableJetifier=true` to your gradle.properties file) or upgrading to version 0.5.2 of the Checkout SDK? Upgrading to the latest version would be the better solution.

[2021-11-16 22:03] tdchow commented on #27
Closing due to inactivity.

[2021-11-16 22:03] #27 closed

[2021-11-16 22:31] tdchow commented on #64
Hey @xiaoxiaohaozai - Thanks for reporting this issue. It sounds like your Android Checkout integration is working as expected as your transaction was able to pull funds.

Are you not seeing this transaction in the merchant web dashboard? Could you please share a screenshot of where you're not seeing the order notification?

[2021-11-16 22:40] tdchow commented on #65
Ah! We're really out of date in the dev docs 😅 I'll make sure that this page is updated. Thanks for bringing this to our attention!

[2021-11-16 22:45] tdchow commented on #68
Hey @lmzliuying - Which version of the SDK are you using? Can you try pulling in the latest version of the Checkout SDK (version 0.5.2)? There was some error handling that was recently added.

[2021-11-17 03:22] lmzliuying commented on #68
是的，我更新到最新版本的SDK，问题已经解决。谢谢！

[2021-11-17 14:54] tdchow commented on #68
@lmzliuying - Glad that your issue is resolved! No problem!

[2021-11-17 14:54] #68 closed

[2021-11-17 15:01] tdchow commented on #67
Hey @Krleblok94 - Thanks for reporting this. Our team will be picking up this work shortly. Android API 31 support will be in the next release of the SDK. Will keep you updated here.

[2021-11-22 02:20] xiaoxiaohaozai commented on #64
Occasionally, log in to the account and log in to the sandbox platform, and you can see the merchant deductions and records

[2021-11-22 02:26] xiaoxiaohaozai commented on #64
![飞书20211122-102545](https://user-images.githubusercontent.com/14050369/142791972-ec095a35-5311-4231-a5fb-2f2533e5b6af.png)
I can’t see notifications on this platform

![飞书20211122-102549](https://user-images.githubusercontent.com/14050369/142791974-34dc45b2-1b3f-4810-a148-fe97f330e44b.png)
This platform can

[2021-11-22 11:02] alexandertechhub commented on #63
Hello @tdchow! Are there any news regarding the problem? Does the additional info I provided helped you anyhow?

I've seen there appeared a new version of SDK, v0.5.2. I've tested it today, but the issue still persists; nothing were changed so far.

Thank you in advance!

[2021-11-25 04:23] lmzliuying opened #69 "java.lang.IllegalStateException"
java.lang.IllegalStateException:
  at com.paypal.openid.AuthorizationService.a (Unknown Source:9)
  at com.paypal.openid.AuthorizationService.a (Unknown Source)
                                            createCustomTabsIntentBuilder
                                            dispose
                                            performAuthorizationRequest

[2021-12-02 05:28] lihong01 opened #70 "Paypal (sdk version-0.5.1)IllegalArgumentException Cannot add the same observer with different lifecycles"
androidx.lifecycle.LiveData in observe at line 6
com.paypal.pyplcheckout.home.view.fragments.HomeFragment in initPYPLHomeViewModelObservers at line 13
com.paypal.pyplcheckout.home.view.fragments.HomeFragment in onActivityCreated at line 12
androidx.fragment.app.Fragment in performActivityCreated at line 4
androidx.fragment.app.FragmentStateManager in activityCreated at line 3
androidx.fragment.app

[2021-12-02 16:17] ndmunoz10 commented on #63
Hey @alexandertechhub, could you please show us your manifest configuration where we can see the configuration you're setting to the Activity that launches our SDK in order to help you further?

Thanks so much for all the info you've provided, it really helps a lot!

[2021-12-03 10:30] alexandertechhub commented on #63
Hi, thank you for the response!
Here is a snippet from our manifest file. The PayPal SDK used in one of the fragment of the activity search.SearchAct_:
[code]
and here are definitions of 2 PayPal activities:
[code]
Is it what you are looking for?

[2021-12-03 15:20] ndmunoz10 commented on #63
@alexandertechhub thanks for your reply, the second snippet is something you are defining in you own manifest file?

[2021-12-03 16:57] ndmunoz10 commented on #63
@alexandertechhub thanks, will try to debug the issue with all of this information and will get back to you.

Thank you once more for your patience

[2021-12-21 23:11] abedsh opened #71 "IllegalStateException on closing Paypal sign in view"
**Describe the bug**
App crashes when closing the Paypal sign in view.  This is only happening when the app's activity is killed due to memory pressure after opening the sign in view

**To Reproduce**
Steps to reproduce the behavior:
1. To simulate killing the app's activity due to memory pressure, in Settings, under Developer options, check "Don't keep activities"
2. Open the Paypal sign in view

[2021-12-22 18:21] andrespelaezp commented on #69
Hi @lmzliuying!

Thanks for reporting the issue and I'm sorry for the late reply.

Could you please give us some context about the issue you are experiencing? Would be so helpful for us in order to provide some solution (Screen recording, screenshots or step by step to the issue).

Looking forward to your comments.

Thanks!

[2021-12-22 18:23] andrespelaezp commented on #70
Hey there @lihong01!  Thanks for reporting the issue.

Would you be able to provide a code snippet in order to further access your issue?

Thanks!

[2021-12-22 18:34] andrespelaezp commented on #71
Hey @abedsh - Thanks for reporting this.

I'll be helping you out with your issue.

While I am trying to replicate the crash, could you point me where the second Stacktrace you provided crashed? ( a short code snippet would be very helpful ).

[2021-12-22 19:28] abedsh commented on #71
Hey @andrespelaezp, the second stacktrace happens the same way. I couldn't specifically replicate it. Here's a small code snippet if it helps. Thanks!

Paypal payment class being called from a fragment

[code]

the call from the fragment

[code]

[2021-12-29 06:04] Mad-Bones commented on #67
im getting this error: `Apps targeting Android 12 and higher are required to specify an explicit value for `android:exported` when the corresponding component has an intent filter defined. See https://developer.android.com/guide/topics/manifest/activity-element#exported for details.`
after i added  `implementation 'com.paypal.checkout:android-sdk:0.5.2'`
on android studio.

Expected behavior
The a

[2021-12-29 15:15] LorenzoFumagalli commented on #38
Hi all,
any news regarding these problems?

[2022-01-04 10:56] microcian opened #72 "How to specify the payment_instruction with the android-checkout-sdk"
I'm unable to view PaymentInstruction in android that is mention on v2 https://developer.paypal.com/docs/api/payments/v2/

[2022-01-04 11:00] microcian opened #73 "Do we need any Partner Account to cut platform fee"
we've requirement to cut our platform fee from user, and invoice fee pay to the payee, so I don't know business account is enough for this purpose or do we need any other account type or setting to do it. help me if anyone dealing with platform fee

[2022-01-04 16:21] shafayatb commented on #63
@ndmunoz10 @alexandertechhub Is there any solution to this issue? Having this problem with devices containing marshmellow(Android 6.0). I have tried in other android versions such as android N, O and R. Paypal seems to work on those version but on marshmellow I am facing the same issue as @alexandertechhub posted.

[2022-01-04 18:11] sandeep9094 opened #74 "In-App Subscriptions"
How can i create in-app subscriptions with paypal checkout sdk in android

I need to provided premium features of app to user via subscriptions.

[2022-01-04 18:45] tdchow commented on #67
Hey @Mad-Bones - we're still in the progress of updating the SDK to target Android 12. For the time being, you won't be able to import the Checkout SDk and have your app target Android 12. We hope to have a new version released later this month. Will keep you updated.

[2022-01-04 19:00] tdchow commented on #72
Hey @microcian - Currently there isn't a way to specify `payment_instruction` in the client-side order create. We'll add this field to our backlog. If this field is critical for your integration, I'd recommend going with the [server-side order create](https://developer.paypal.com/sdk/in-app/android/server-side/).

[2022-01-04 21:16] tdchow commented on #74
Hey @sandeep9094 - unfortunately, the Checkout SDK does not currently support subscriptions.

[2022-01-04 21:18] tdchow commented on #73
Hey @microcian - Currently the Native Checkout SDK does not support multi-seller payments.

[2022-01-04 21:39] microcian commented on #73
Thanks for the response.
If I use server end functuonality using v2sanbox API's , so I cam achieve multi seller payments?

[2022-01-04 21:58] tdchow commented on #73
No worries! Unfortunately, multi-seller payments are still not supported even with using server-side order create.

[2022-01-04 22:05] microcian commented on #73
1. So there is no way to achieve multi-seller payments.right?
2. My requirement was just to pay some platform fee to the (owner of application/service provider) and rest amount pay to the vendor, how may I implement?

[2022-01-05 04:35] #74 closed

[2022-01-06 12:57] mauro-poq opened #75 "Shipping methods have a weird behaviour inside SDK"
Hey, as part of my use case I need to allow the user to select the shipping method he wants, when I'm creating the order I'm sending the shipping option inside the `PurchaseUnit`, however when the SDK starts it doesn't show the options directly to the user, to be able to select the shipping method I need to add/edit my shipping address, so I'm redirected to a WebView which also have a weird user f

[2022-01-07 13:16] SerggioC opened #76 "Cannot compile with Android SDK version >= 31"
**Describe the bug**
App does not compile with android SDK >= 31.

**To Reproduce**
Steps to reproduce the behavior:
1. In app build.gradle file set compileSdkVersion 31 and targetSdkVersion 31.
2. compile.

**Expected behavior**
App should compile.

**Error**
Manifest merger failed with multiple errors, see logs.
Error:
	android:exported needs to be explicitly specified for <activity>. Apps targe

[2022-01-07 15:04] mauro-poq commented on #76
Hey @SerggioC I was looking this just today, there will be a fix in the next version as described (here)[https://github.com/paypal/android-checkout-sdk/issues/67]

[2022-01-07 20:11] tdchow commented on #73
Yep, that's correct. There currently isn't any support for multi-seller payments in the Checkout SDK.

[2022-01-07 23:25] SerggioC commented on #76
Hey, alright lets wait for the fix.

[2022-01-10 04:26] GengJian commented on #76
Please merge this pull-request:   https://github.com/paypal/android-checkout-sdk/pull/77

[2022-01-10 13:44] andrespelaezp commented on #71
Hey @abedsh, thanks again for reporting this.

I've been looking into it for a few days and we managed to replicate it, even further, a solution is already proposed and we are reviewing it. I will keep you posted with the updates and future release.

[2022-01-10 14:36] abedsh commented on #71
@andrespelaezp thank you

[2022-01-12 04:06] HandSomeMaster opened #78 "Could not resolve org.jfrog.cardinalcommerce.gradle:cardinalmobilesdk:2.2.4-1"
Could not determine the dependencies of task ':app:processDebugResources'.

     Required by:
         project :app > com.paypal.checkout:android-sdk:0.5.2

[2022-01-12 16:32] andrespelaezp commented on #76
Hi @SerggioC, thanks for reporting and working on a solution for this issue.

I will check with the team if the solution is already on place on our side, and if not, I will take your solution for a test and include it for the next release.

Thanks again!

[2022-01-12 16:46] mauro-poq opened #79 "Endless loading screen after user login"
**Describe the bug**
I'm working in a POC to check this library and using my company Client ID, I see an endless loading screen after the user login.
I'm using the Sandbox environment with a buyer user created in the developer console.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an example project as described in this URL https://developer.paypal.com/sdk/in-app/android/#add-the-sd

[2022-01-12 17:15] SerggioC commented on #76
Hi @andrespelaezp,

Pull request is from @GengJian.
Anyway when is your next release?

Thank you.

[2022-01-12 17:26] mauro-poq commented on #79
Just a point, I have a second business account created and it works fine with this second account, the unique difference I can see between the 2 accounts is that in my company account the default app doesn't have the "Vault" enabled.

[2022-01-12 18:21] andrespelaezp commented on #76
@SerggioC @GengJian thank you both.

Our main focus for the next release is support for Android 12. As of now, we don't have an estimated time but we are working to have it ready ASAP.

[2022-01-13 02:59] GengJian commented on #78
I had the same problem the day before yesterday and it has been solved.
Please click "settings.gradle" 'add private Maven repo..

https://cardinalcommerceprod.jfrog.io/artifactory/android '

[2022-01-13 03:02] GengJian commented on #78
Just like this

[code]

[2022-01-13 15:01] dscoder421 commented on #78
Hi! I am getting these errors: `Failed to resolve: android.arch.lifecycle:extensions:2.1.0` and `Failed to resolve: android.arch.lifecycle:runtime:2.1.0`

[2022-01-13 15:10] dscoder421 opened #80 "Failed to resolve: android.arch.lifecycle:runtime:2.1.0"
Hi

I have a problem in integrating PayPal Checkout. I am getting this error:
`Failed to resolve: android.arch.lifecycle:runtime:2.1.0` along with `Failed to resolve: android.arch.lifecycle:extensions:2.1.0`.

When I run the app, the build crashes

[2022-01-13 17:11] andrespelaezp commented on #80
Hey @dscoder421! Thank you for reporting this.

Can you provide more information about the issue and the integration you have? I.e. Android version, checkout sdk version, moment of the crash, etc. Thanks!

[2022-01-14 01:40] dscoder421 commented on #80
Thanks @andrespelaezp. The Android API level is `26` , PayPal Checkout version is `0.2.0` and when I try to run my app it crashes at the task `:app:mergeDebugNativeLibs`

[2022-01-14 16:00] andrespelaezp commented on #80
Hey @dscoder421, looks like there could be some dependencies and Jetifier issues with the 0.2.0 version, we highly recommend upgrading to the last version of the checkout SDK which is 0.5.2 where [these issues where fixed](https://github.com/paypal/android-checkout-sdk/blob/main/CHANGELOG.md).

Let me know if this change fixes your crash.

[2022-01-14 21:24] tdchow commented on #79
Hey there, thanks for reaching out. It looks like your return URL might not properly be set in the developer portal.

Can you double-check the steps outline here: https://developer.paypal.com/sdk/in-app/android/#link-enablethesdk

It sounds like one of the client IDs has the proper return URL for authentication to work. Can you verify that the return URL is specified for this new integration?

[2022-01-14 21:26] tdchow commented on #78
Thanks, @GengJian for that snippet.

@HandSomeMaster - As @GengJian shared, you'll need to add a maven repository for the checkout SDK. Please check the documentation here: https://developer.paypal.com/sdk/in-app/android/#link-addthesdktoyourapp

[code]

[2022-01-14 21:27] tdchow commented on #78
@dscoder421 - It looks like another GitHub issue was opened for your errors: https://github.com/paypal/android-checkout-sdk/issues/80

[2022-01-15 05:10] dscoder421 commented on #80
Thanks @andrespelaezp, It worked. I appreciate your quick support.

[2022-01-18 15:05] mauro-poq commented on #79
Hey, yes @tdchow the problem was with the Redirect URL, I was overriding it but I forgot to include the AndroidManifest changes.
Thanks for the answer.

[2022-01-18 15:05] #79 closed

[2022-01-18 18:04] mauro-poq opened #81 "OnShippingChange callback never invoked"
**Describe the bug**
The OnShippingChange callback is never invoked.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample app as described in https://developer.paypal.com/sdk/in-app/android/
2. Include the callback as described in https://developer.paypal.com/sdk/in-app/android/update-shipping/
3. Run the app and add/change user shipping address.
4. Callback is not invoked

**Expe

[2022-01-18 21:52] tdchow commented on #75
Hey @mauro-poq - Sorry for the delay!

Right now the shipping feature built into the SDK only handles changing shipping methods and selecting a different shipping address (selecting an already existing address). The SDK does not handle adding or editing addresses. Opening the webview is expected behavior as we do not have this feature built out natively. With that said, we should be releasing a ne

[2022-01-18 21:54] tdchow commented on #81
Hey @mauro-poq! It looks like the other issue you opened (https://github.com/paypal/android-checkout-sdk/issues/75) captures this bug. I'll be closing this one as a duplicate.

[2022-01-18 21:54] #81 closed

[2022-01-18 22:05] mauro-poq commented on #75
Hey @tdchow, tks for the reply!
Nice I will wait for the next release, however, this is a key feature for me, so sorry to ask you that but do you have an idea of when it will be available or a Snapshot with the changes?

[2022-01-18 22:07] tdchow commented on #75
@mauro-poq - Not a problem! Unfortunately, I don't have an estimate for you right now as we're pretty backed. But will keep you updated here in the thread.

[2022-01-18 22:08] mauro-poq commented on #75
@tdchow awesome, thanks!

[2022-01-19 14:19] mauro-poq commented on #75
Hey @tdchow , looks like ins the class `DebugConfigManager` you have the method `isShippingCallbackEnabled` that is always returning `false`. If I include this `DebugConfigManager.getInstance().setShippingCallbackEnabled(true)` on my side it shows the shipping method selection and the callback works.
I don't know if this is a bug or something expected, if it's something expected can you include th

[2022-01-19 21:54] tdchow commented on #75
@mauro-poq - Thanks for digging into this issue! This is definitely not expected behavior. A fix is currently underway and will be included in the next release.

We don't intend for integrations to access the `DebugConfigManager` class, but in this case, it should unblock you for the time being.

Thanks again for looking into the issue!

[2022-01-20 11:01] mauro-poq commented on #75
No problem! Thanks.

[2022-01-25 11:15] mauro-poq opened #82 "Is Billing Address in the Order Response?"
Is there a way to retrieve the payer Billing Address?

In the iOS documentation, they have an Address object inside the Payer object which is referred as the user Billing Address:
<img width="815" alt="image" src="https://user-images.githubusercontent.com/59827478/150966660-8aa42d15-b3d0-455a-8221-acea701f295c.png">

I was not able to find an explicit way to retrieve the payer Billing Address, is

[2022-01-27 03:28] Bhullnatik opened #83 "SDK Size"
Hello,

We recently integrated the PayPal SDK in our application, and while the integration was very pleasant we found that the SDK was adding almost up to 20MB to our APK size, almost doubling it which seems very heavy.

|   | APK Size | Minified |
| ------------- | ------------- | ------------- |
| Without PayPal SDK  | 34.5 MB  | 29 MB |
| With  | 54.2 MB  | 46.6 MB |

Mostly all of it comes fr

[2022-01-28 11:23] simao-coutinho opened #84 "Add FLAG_IMMUTABLE or FLAG_MUTABLE on PendingIntent"
When try to pay with Android emulator version API 32 give me this error.
This error not occours on API 30

Appears the logging bottom sheet then the app crashes

![147010237-1535bd31-0a65-4fe8-97cf-8b3beee85bf9](https://user-images.githubusercontent.com/37965258/151539221-9a4cd7c1-2dad-4cac-a7ff-3902566038be.png)

The log error below:

FATAL EXCEPTION: OkHttp Dispatcher
java.lang.IllegalArgumentEx

[2022-01-28 19:13] tdchow commented on #75
Hey @mauro-poq! Version 0.5.4 was just released which should fix the shipping callback issue!

[2022-01-28 20:07] mauro-poq commented on #75
Hey @tdchow amazing, I will check! Thanks!

[2022-01-31 20:20] tdchow commented on #83
Hey @Bhullnatik - Thanks for reaching out! The inclusion of the PayPal Checkout SDK shouldn't be adding anywhere close to 20 MB to your APK size.

I just created an empty sample project and added version 0.5.4 of the Checkout SDK. Here are the numbers that I'm seeing:

- APK size increase: 5 MB
- Download size increase: 4.6 MB

### With the PayPal Checkout SDK
![dex size with paypal sdk](https://u

[2022-01-31 20:27] tdchow commented on #84
Hi @simao-coutinho - We're currently working on a fix for this. It'll be released as a part of the changes for Android 12 (https://github.com/paypal/android-checkout-sdk/issues/67).

[2022-01-31 20:31] tdchow commented on #82
Hi @mauro-poq - We recently added the billing address to the `Cart` object in the `OnApprove` callback:

[code]

You'll need to be using the latest version of the Checkout SDK: version 0.5.4.

[2022-01-31 20:31] tdchow commented on #78
Closing due to inactivity.

[2022-01-31 20:31] #78 closed

[2022-02-01 06:23] Bhullnatik commented on #83
Hello @tdchow, thank you for your answer.

So you're totally right. For some reason, the size of some native libraries we were using jumped to 20MB more when we added the PayPal SDK but the APK Analyzer tool was showing the difference in dex files rather than the native libs while analyzing them separately showed where the problem was.

After fixing this issue, everything went back to normal and g

[2022-02-01 06:23] #83 closed

[2022-02-01 09:49] mauro-poq commented on #82
Hey @tdchow amazing, I will take a look! Thanks

[2022-02-01 18:58] mauro-poq commented on #75
Version 0.5.4 fixed this, closing the issue

[2022-02-01 18:58] #75 closed

[2022-02-01 19:01] mauro-poq commented on #82
Hey @tdchow the Billing Address is present now, however, the `billingAddress.firstName` and `billingAddress.lastName` are not being returned (both are returned for the `shippingAddress`), at least I'm receiving `null`, is there a flag or something to retrieve those fields?

[2022-02-02 07:38] elkarry commented on #67
@tdchow Any news on the release to support Android 12? An update was released last week but still no Android 12 support.

[2022-02-02 15:19] tdchow commented on #67
Hey @elkarry - Sorry for the delay. The Android 12 work is still underway and should be in the next SDK release.

[2022-02-07 17:27] tdchow commented on #82
Hi @mauro-poq - Sorry for the delay. I just got confirmation that a request needs to be made for the billing address to be returned. Can you reach out to technical support here to ask for access to this information?

 https://www.paypal-support.com/s/?language=en_US -> “Contact Us”

[2022-02-08 08:01] mauro-poq commented on #82
Hey @tdchow, I already have the billing address because this config was done before by the iOS Dev, however, I'm not receiving the fields `firstName` and `lastName` for the Billing Address, fields that are present in the Shipping Address.

[2022-02-08 15:51] tdchow commented on #82
@mauro-poq - Apologies! Let me check on this for you. Are you able to see `firstName` and `lastName` returned in the iOS SDK?

[2022-02-08 16:02] mauro-poq commented on #82
@tdchow - No problem, well the iOS dev in my company said that the values are present, but looking at the iOS code, I can see that if the fields in the Billing Address are not present he is getting the Payer name instead, so I'm not sure if iOS is receiving it or not.

[2022-02-09 02:09] ShuaiXiu opened #86 "CaptureOrderResult: Error(message=Capture order failed., reason=LSAT upgrade failed while capturing order.)"
What is the reason for this error after payment
CaptureOrderResult: Error(message=Capture order failed., reason=LSAT upgrade failed while capturing order.)

[2022-02-09 07:17] #86 closed

[2022-02-11 08:42] Onheil13 commented on #76
Hi, @andrespelaezp.

I would like to ask what is the estimated date/time of the next release?

Thank you.

[2022-02-15 11:19] SerggioC opened #87 "Server side integration not working on Android"
**Describe the bug**
Using server side integration with the SDK fails.

Similar integration with iOS is working fine.

**To Reproduce**
I'm creating an orderID on the server side and setting that orderID in the Paypal configuration like so:

          val config = CheckoutConfig(
                application = application,
                clientId = BuildConfig.PCID,
                environment = i

[2022-02-15 12:05] #87 closed

[2022-02-15 12:05] SerggioC commented on #87
Ignore. bug on my side.

[2022-02-16 20:06] tdchow commented on #64
Hi @xiaoxiaohaozai - Sorry for the delayed reply!

This sounds like an issue with the developer portal not showing the correct transactions and not with the Checkout SDK. Could you please reach out to support here: https://developer.paypal.com/docs/support/?

In the meantime, I'll be closing out this issue.

[2022-02-16 20:06] #64 closed

[2022-02-16 20:08] tdchow commented on #69
Hey @lmzliuying, I'll be closing this issue due to inactivity. If you're still seeing this crash in the latest version of the Checkout SDK, please reply here and we can reopen the issue. Thanks!

[2022-02-16 20:08] #69 closed

[2022-02-16 20:13] tdchow commented on #70
Hey @lihong01 - I'll be closing this issue due to inactivity. If you're still seeing this crash in the latest version of the Checkout SDK, please reply here and we can reopen the issue. Thanks!

[2022-02-16 20:13] #70 closed

[2022-02-16 21:58] tdchow commented on #84
Hey @simao-coutinho - We just released version 0.6.0 of the Checkout SDK which now targets Android 12. This should resolve the crash you were seeing.

```implementation 'com.paypal.checkout:android-sdk:0.6.0'```

[2022-02-16 22:01] tdchow commented on #76
Hey @Onheil13, @SerggioC, @GengJian and @mauro-poq!

Good news! We just released version 0.6.0 of the Checkout SDK which now targets Android 12.

```implementation 'com.paypal.checkout:android-sdk:0.6.0'```

@SerggioC - once you've verified the new version, would you be able to close out this issue? Thanks!

[2022-02-16 22:07] tdchow commented on #67
Hey @Krleblok94, @Mad-Bones, and @elkarry!

Good news! We just released version 0.6.0 of the Checkout SDK which now targets Android 12.

```implementation 'com.paypal.checkout:android-sdk:0.6.0'```

@Krleblok94 - once you've verified the new version, would you be able to close out this issue? Thanks!

[2022-02-16 22:11] tdchow commented on #71
Hi @abedsh - We just released a new version of the SDK (version 0.6.0) which now handles when the app is killed in the background. Can you check to see if the new version resolved the reported crash? Thanks!

```implementation 'com.paypal.checkout:android-sdk:0.6.0'```

[2022-02-17 11:09] pd90 opened #89 "Using the version 0.5.4 App is getting crashed"
The App has recently started crashing with the following error, though there are no changes in the CheckOut config but getting this recurring internal SDK error, if it is a known issue will a SDK version bump up work, or is there any other way to handle it
Caused by: java.lang.IllegalStateException: Expected BEGIN_ARRAY but was STRING at line 1 column 11 path $.error
at com.google.gson.stream.Json

[2022-02-17 11:45] SerggioC opened #90 "Crash starting Paypal Button"
Paypal SDK version 0.6.0
[code]

[2022-02-17 14:35] maltsev-gorskij commented on #90
Same error on versions 0.3.0.
Appeared today and before that everything was alright.

[2022-02-17 15:35] tdchow commented on #90
Hi @SerggioC - Could you share code snippets of your integration? Also, do you have repo steps for both crashes?

@maltsev-gorskij - Was everything working before on version 0.3.0? And now you're seeing that crash without any app changes? This looks like something might have been changed on a backend API 😞

[2022-02-17 15:37] tdchow commented on #89
Hey @pd90 - Thanks for reporting this issue. I'm currently looking into the issue. In the meantime, could you please share snippets of your integration?

[2022-02-17 15:52] tdchow commented on #76
@SerggioC - no problem! I saw that you created a new issue for the crashes you're seeing. Let's use that issue to unblock your integration. Closing this one out.

[2022-02-17 15:52] #76 closed

[2022-02-17 15:54] maltsev-gorskij commented on #90
Hallo @tdchow

I am currenty in the finish step of integration of paypal checkout sdk in app, in which min api level must be 21 and can't be rised. So i'm stuck at 0.3.0 version.

I have integrated paypal sucessfully and for, maybe, two weeks everything was alright. I'have completing other parts of logic, indenendent from paypal. And for last three days it was just polishing.

Yesterday in the eve

[2022-02-17 16:00] tdchow commented on #90
Hey @maltsev-gorskij

One clarification to make about API 21 support. We had issues with API 21 and 22 even on SDK versions 0.3.0 and earlier. 0.3.0 and later marked integrating functions as requiring API 23 and up, however the SDK still has a minimum API level of 21. So you'll be able to use the latest versions in your app. However, you'll want to do an API level check where you invoke the PayPal

[2022-02-17 17:29] abedsh commented on #71
@tdchow perfect, thank you

[2022-02-17 17:43] SerggioC commented on #90
Hi @tdchow,

I can't reproduce the issue anymore. Seems to be solved. Probably something changed in the data structure.

Anyway my implementation is:
[code]

[2022-02-17 19:46] tdchow commented on #90
@SerggioC - Thanks for following up! And glad that the issue was resolved. There are a few improvements we can make in the SDK to prevent this unexpected response from crashing. We hope to have these changes in the next release.

One suggestion I'd make to your current integration is to set the config inside of your Application's `onCreate` function. As this should really only be set one time, and

[2022-02-17 20:20] maltsev-gorskij commented on #90
Wow, thats amazing. So i can use leter version, but only new features requires new api level!
Thats wasn't clear enough for me by reading patch notes for releases. Thank you!

Thats required my integration code snippets:

Application class

`
    private void configurePayPalSDK() {
        CheckoutConfig checkoutConfig = new CheckoutConfig(
                this,
                BuildConfig.PAYPAL_

[2022-02-17 20:33] tdchow commented on #90
@maltsev-gorskij - No problem! Apologies for the unclear release notes! I'll see if we can update those to make these changes clearer!

@SerggioC - I'm going to go ahead and close this issue out, as the original crashes were resolved. However, we'll still plan to handle the error case if the backend schema ends up changing on us. Thanks!

[2022-02-17 20:33] #90 closed

[2022-02-20 13:11] picassos-developers opened #92 "Update the Upgrade Guide!"
Upgrade guide needs to be updated for v.0.6.0. https://developer.paypal.com/sdk/in-app/android/upgrade/

[2022-02-21 06:16] Onheil13 commented on #76
Thanks for the update.

[2022-02-22 12:27] abedsh commented on #92
@picassos-developers now that it's mandatory to Initialize the Native Checkout SDK in oncreate method of the App, the Client Paypal ID needs to be stored on the app. Is that safe to do ?

[2022-02-22 17:16] tdchow commented on #89
Hi @pd90 - Can you try your integration again? There was an issue with one of the API calls returning a different structure. This should be resolved now. Please let me know if you're still seeing issues!

[2022-02-22 17:44] tdchow commented on #92
Hey @picassos-developers - That upgrade page actually only includes changes for version 0.6.0. This is the only version that has deprecated functions and breaking changes. But I see how it's confusing. Will see if we can update this to make it clearer!

@abedsh - Yep, you'd be safe having your client ID in your app's source code. However, I would recommend obfuscating your app for your release bui

[2022-02-22 17:44] #92 closed

[2022-02-22 18:40] pd90 commented on #89
Hi @tdchow thanks for the update, i will redo integration

[2022-03-02 14:35] alexandertechhub commented on #63
Hi @ndmunoz10 ,
Thank you for the information, first of all! However, I have to say that the behaviour of the PayPal Checkout SDK didn’t changed in v.0.6.0. I’ve made a number of tests based on the example, taken from paypal/android-checkout-sdk (commit fbf4270) [https://github.com/paypal/android-checkout-sdk]; I’ve downloaded it today (March 2nd, 2022). For tests I’ve used the following (real) de

[2022-03-02 20:19] ndmunoz10 commented on #63
Hi @alexandertechhub, version 0.6.0 does not yet include a fix for this issue; you can see what changes are included in each version [here](https://github.com/paypal/android-checkout-sdk/blob/main/CHANGELOG.md). However we can confirm that the next release will have a fix for this issue!

Will keep you posted here.

[2022-03-10 15:46] elkarry opened #94 "NoSuchMethodException in Android 5 (API 21)"
When starting the SDK with setConfig in Android 5 it produces a NoSuchMethodException.
This error occurs on API 21 with te latest SDK version 0.6.0

Log error below:

Fatal Exception: java.lang.NoSuchMethodError: No virtual method getSystemService(Ljava/lang/Class;)Ljava/lang/Object; in class Landroid/content/Context; or its super classes (declaration of 'android.content.Context' appears in /syste

[2022-03-10 20:32] tdchow commented on #84
Closing due to inactivity. @simao-coutinho, let us know if you're still seeing the issue on the latest version of the SDK.

[2022-03-10 20:32] #84 closed

[2022-03-10 20:33] tdchow commented on #67
Closing due to inactivity, but the issue should be resolved in the latest SDK version.

[2022-03-10 20:33] #67 closed

[2022-03-11 15:22] tdchow commented on #71
Closing this out due to inactivity. The issue should be resolved in the latest SDK version.

[2022-03-11 15:22] #71 closed

[2022-03-15 22:46] ndmunoz10 commented on #63
Hi @alexandertechhub @shafayatb, 0.6.1 version has just been published. It includes a fix for this issue as well as some new fixes and features. Please let us know if you experience the same error after upgrading to the latest version 😄

[2022-03-16 17:02] ndmunoz10 commented on #94
Hi @elkarry, as of now our SDK works only for API 23 (Android 6) or greater. We haven't increased our minimumSDKVersion since we know some merchants targeting API Level 21 use our SDK. However, we recommend to add an if statement checking for the current Android version and handling the case by going through a different payment method, showing some error, etc...

An example would be something like

[2022-03-16 19:29] tdchow commented on #89
Closing this issue out. @pd90 - we can reopen the issue if you're still seeing the crash. Thanks!

[2022-03-16 19:29] #89 closed

[2022-03-17 18:29] ndmunoz10 commented on #45
Closing due issue being resolved

[2022-03-17 18:29] #73 closed

[2022-03-17 18:30] ndmunoz10 commented on #72
Closing due to inactivity

[2022-03-18 04:10] HuixingWong opened #96 "Order approved but not success"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
 `  PayPalCheckout.start(
      createOrder = CreateOrder { createOrderActions ->
        createOrderActions.set(id)
      },
      onApprove = OnApprove {

[2022-03-18 09:08] alexandertechhub commented on #63
Hi @ndmunoz10ю All works fine. Thanks!

[2022-03-18 09:08] #63 closed

[2022-03-18 10:52] HuixingWong commented on #96
hello ， anyone can help , please u guys check the demo,  the  order in TokenQuickStartActivity  only can enter approve statu, can't  be complete

[2022-03-18 11:52] cythb commented on #96
I have a same problem.

[2022-03-18 12:16] Nomeleel commented on #96
I have a same problem.

[2022-03-18 13:51] cythb commented on #96
hi @Nomeleel
I did some research, and I find a solution from [here](https://developer.paypal.com/sdk/in-app/android/server-side/)
[code]

[2022-03-18 17:16] ndmunoz10 commented on #96
Hi @HuixingWong @Nomeleel @cythb. You can choose a server-side integration if you want more control over your integration. Server-side integrations require you to have your own server infrastructure.

If that is your case, then what @cythb commented would be the solution for your issue!

If you want to go with a simpler integration, you can choose the client-side integration which is described [he

[2022-03-19 04:25] dscoder421 opened #97 "PayPal not proceeding the login page"
**Describe the bug**
When I click the customized PayPal button (started programmatically), it opens chrome, and when I add the sandbox credentials it dosen't proceed the email login

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom button and start the SDK programmatically or use the PayPal button
2. Click on the button
3. Enter the sandbox credentials
4. It won't proceed after

[2022-03-19 04:49] dscoder421 opened #98 "Support for Jetpack Compose"
**Is your feature request related to a problem? Please describe.**
Yes, I created a button and I started it using this [documentation](https://developer.paypal.com/sdk/in-app/android/programmatically-start-sdk/)

**Describe the solution you'd like**
Design the PayPal button in Jetpack Compose, start the SDK, and add it with the SDK future versions

**Describe alternatives you've considered**
Creat

[2022-03-19 08:55] dscoder421 commented on #97
And one more thing, The problem is Chrome blocks third-party cookies which doesn't allow PayPal to proceed after the main login page. If I disable the **Block third-party cookies** it works great.

It would be great if the team fixes this issue from the SDK

[2022-03-21 07:08] elkarry commented on #94
@ndmunoz10 Thanks for the answer.

Then this issue can be closed

[2022-03-21 07:08] #94 closed

[2022-03-21 13:43] tdchow commented on #97
Hey @dscoder421 - Thanks for reporting this issue.

Would you be able to provide a screenshot of the error screen you're seeing on the email prompt webpage? Or would you be able to share a screen recording of the entire flow?

[2022-03-21 15:17] dscoder421 commented on #97
Hi Tim Chow,

Please find the screen recording (it goes blank when I type my password). Please watch till end

https://user-images.githubusercontent.com/50439943/159292196-2edfc122-aee3-4e38-9230-400dbebc91e7.mp4

[2022-03-21 16:09] ndmunoz10 commented on #96
Closing since issue is solved!

[2022-03-22 08:12] dscoder421 commented on #98
Hi Tim Chow,

I can't use the `PaymentButton` view in Compose. When I use it I get this error (it is a pure Compose project and has no libraries such as `androidx.appcompat:appcompat:1.4.0`):
[code]

So I understood that the `PaymentButton` needs the native `CircularProgressIndicator` to function properly. So I added the dependency `androidx.appcompat:appcompat:1.4.0`, which provides me this error

[2022-03-22 14:39] tdchow commented on #98
Thanks for the stacktraces. We haven't had a chance to test our payment buttons within Compose. But I'll create a ticket for us to track the work. Will keep you updated here!

[2022-03-28 12:53] nazarabd3005 commented on #17
Hi @tdchow currently using the latest version (0.6.1) with obfuscation (proguard), getting crashes when starting the app

[2022-03-28 22:01] ndmunoz10 commented on #17
Hi @nazarabd3005, thanks for letting us know. What issue or crash are you seeing with our SDK?

[2022-03-28 22:20] nazarabd3005 commented on #17
find the log here:
`2022-03-29 05:11:03.842 23558-23558/com.forest_interactive.walletcodes.b2c.dev E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.forest_interactive.walletcodes.b2c.dev, PID: 23558
    java.lang.ExceptionInInitializerError
        at com.paypal.pyplcheckout.di.AppModule.providesEncryptedSharedPrefs$pyplcheckout_externalRelease(SourceFile:85)
        at com.paypal.pyplchec

[2022-03-31 07:22] VivekThummar opened #99 "Logout Programmatically"
**Feature request with a problem**
I'm working on mobile app where i have integrated Paypal, so user will login using sdk and then they can make transactions within the app, but it looks like there's one feature is missing or i'm not aware of it, what i want is when logout the account, paypal account should also logout, is there any way to do this, then please help me out..Thank You!!

[2022-03-31 15:58] tdchow commented on #17
Hey @nazarabd3005! Thanks for sharing the stacktrace.

Adding this additional rule to your app module's `proguard-rules.pro` file should fix the crash:
[code]

We'll update the proguard rules for the SDK in the next release. But this should unblock you for now!

[2022-04-01 13:18] mauro-poq opened #100 "Shipping address validation on Paysheet starts"
I have a case where the user has only invalid addresses in PayPal when I start the Paysheet, in my case the user has only UK addresses and the company accepts only US addresses for delivery. So when the user opens the Paysheet we have already a default address set by PayPal SDK but the `onShippingChange` is not called, so I'm not able to call my BackEnd to verify.
Talking to the iOS developer, he

[2022-04-08 15:16] ndmunoz10 commented on #99
Hi @VivekThummar, as of now there's no way to logout programmatically from the SDK. However, we might try to add this feature in the upcoming releases!

[2022-04-13 20:31] tdchow commented on #100
Hi @mauro-poq - Sorry for the delay. We should be invoking the `OnShippingChange` callback when the paysheet loads.

We've picked up the work and the change should be in the next release of the SDK. Will keep you updated!

[2022-04-14 05:26] nazarabd3005 commented on #17
Hey @tdchow Thanks for the update

[2022-04-14 14:35] tdchow commented on #17
@nazarabd3005 - No worries at all! Going to close the issue out. Please report here if you're still seeing obfuscation/minification issues.

[2022-04-14 14:35] #17 closed

[2022-04-22 10:50] mauro-poq opened #101 "Crash SDK Initialization"
Hey, I have 8 crashes in my Crashlytics regarding the SDK initialization, I checked my code and all looks fine from my side as I'm initializing it as described in the documentation.
It is mainly happening in 3 phones (Pixel 5, Pixel 6 and a GCE x86 phone):
- Pixel 6 ( 1 occurrence ):
![image](https://user-images.githubusercontent.com/59827478/164700013-22e04a14-8873-4523-ab8f-00f9e0fcf761.png)
- P

[2022-04-22 17:41] ctamura commented on #101
Can you answer the following

- Is the crash occurring in sandbox and/or live environment?
- SDK Version
- Reproduction steps

[2022-04-25 15:15] MiloszFilimowski opened #103 "Android crashes after login"
**Describe the bug**
After the autorization with external web client the app crashes, probably related to proguard minification.
We fixed the initialization crash with:
[code]
but unfortunately now it crashes just after returning to the app. This issue only occurs with release builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Initialize paypal with `PayPalCheckout.setConfig...`
2. Regi

[2022-04-26 00:51] HuixingWong opened #104 "online crash caused by paypal sdk"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**

`Fatal Exception: java.util.NoSuchElementException
Collection contains no element matching the predicate.
com.paypal.pyplcheckout.addshipping.AddressAutoCompleteVi

[2022-04-26 01:56] HuixingWong opened #105 "crash"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
Caused by java.lang.NullPointerException
Attempt to invoke virtual method 'android.content.Context android.content.Context.getApplicationContext()' on a null object

[2022-04-28 22:45] saperi22 commented on #103
Hi @MiloszFilimowski, thanks for reporting this!
Could you please provide us with snippets of your integration? Also, how often does this happen - 100% of the time?

[2022-04-29 08:25] MiloszFilimowski commented on #103
Hi, thanks for the reply. Yes, it happens 100% of the time.
Here is our integration snippet (please not that we are using react native so this is just a wrapper, however this should be completely unrelated to the crash)

[code]

[2022-05-01 07:50] saadmustafa12 opened #107 "Compilation Error missing android:exported when using Android API 31"
**Describe the bug**
The bug is related to compilation of library. Missing `android:exported="false"` statements in **AndroidManifest.xml** file of Library at path **"file://$USER_HOME$/.gradle/caches/transforms-3/669eca1004973bb9500e5e82d5f48c55/transformed/jetified-android-sdk-0.2.0/AndroidManifest.xml"**

**To Reproduce**
Steps to reproduce the behavior:
1. Compile Project
2. Android Merger Err

[2022-05-01 09:41] saadmustafa12 opened #108 "Missing 'PendingIntent' mutability flag. Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
**Describe the bug**
This bug is related to file `Authenticator.class`. Targeting API version 31 it is missing mutability flag for PendingIntent that are required in this API.

When we Click on PayPal payment button application crashes with the following error...

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Paypal payment button
2. A screen appears to start login process

[2022-05-01 13:24] #108 closed

[2022-05-01 13:25] #107 closed

[2022-05-02 15:27] SerggioC opened #109 "Request: Choose payment methods that should be available to pay."
Hi,

Could you add the possibility to select which payment methods should be available to pay, funds or cards? It could be done using PayPal button setup or some other easy way at runtime before opening the bottom sheet.
This is something that would be very useful to us.
Is it something you can do or do you have it in the roadmap?

Thanks!

[2022-05-02 23:54] saperi22 commented on #103
@MiloszFilimowski can you please confirm the `orderId` you are sending is not empty?
[code]

[2022-05-03 11:03] MiloszFilimowski commented on #103
Yes, I can confirm it's not empty. We've checked this several times.

[2022-05-03 13:46] guilindohick opened #110 "He approves the payment and activates the premium in the app but does not charge the customer"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-05-04 00:19] saperi22 commented on #104
Hi @HuixingWong, please provide detailed steps to reproduce the error.

Also, please fill in the details to better assist us finding and fixing the bug you are seeing.

[2022-05-04 00:21] saperi22 commented on #105
@HuixingWong Please provide steps to reproduce the bug.
Also, please fill in the requested information (SDK version, Device, OS version, etc.)

[2022-05-04 01:45] HuixingWong commented on #104
sdk version :  0.6.0

device :  Galaxy A52s 5G

Os version : android 12

I can't reproduce this because this is a crash report by firebase.

By the way, all of the crashes in our app now come from the paypal SDK.
<img width="581" alt="截屏2022-05-04 09 43 55" src="https://user-images.githubusercontent.com/15938606/166612956-bdceedca-9986-470f-acbd-168d9e5dbdfc.png">

this is one more new crash form

[2022-05-04 07:28] saperi22 commented on #103
I was unable to reproduce the crash.
While we investigate this further, would you please try version 0.6.2 to check if you still see the bug?

[2022-05-04 10:44] MiloszFilimowski commented on #103
Do you have proguard enabled with `minifyEnabled` ? We fixed the crash with the following rules:
[code]

[2022-05-04 10:44] #103 closed

[2022-05-04 16:55] saperi22 commented on #103
Yes, I had the `minifyEnabled` flag set.
Thank you for figuring out the proguard rule that worked for you. We'll try to get it in into the next release.

[2022-05-04 20:18] ChrisGuzman commented on #110
@guilindohick Please provide steps to reproduce the bug.
Also, please fill in the requested information (SDK version, Device, OS version, etc.). Thank you!

[2022-05-04 20:31] guilindohick commented on #110
@ChrisGuzman It doesn't show any error or bug message, the whole process works fine, it just doesn't charge the paypal account.

[2022-05-04 20:32] ChrisGuzman commented on #109
Hello @SerggioC could you explain a bit more about your request? The SDK already supports the ability to pay with your PayPal balance, credit cards, or other financial instruments.

[2022-05-04 20:33] ChrisGuzman commented on #110
Thanks @guilindohick. Please fill in the requested information in the issue description (SDK version, Device, OS version, etc.) so I can further investigate.

[2022-05-04 20:33] guilindohick commented on #110
'com.paypal.checkout:android-sdk:0.6.2'
Galaxy S10 Android 10

[2022-05-04 21:32] guilindohick commented on #110
@ChrisGuzman PaymentPaypal: CaptureOrderResult: Error(message=Capture order failed., reason=Capture order response was not successful. Response status code: 422)

When I click on Pay Now in Paypal it appears in the logcat

[2022-05-05 14:08] SerggioC commented on #109
Hi @ChrisGuzman Is there a way to limit which financial instruments should appear to the user?
I need to disallow card payments and allow PayPal balance only? Is there a way to do that?
Thank you.

[2022-05-05 16:21] ChrisGuzman commented on #109
No that feature is not supported. Can you explain your use case for why
you’d like the option for such a feature? I can take your info back to the
team to discuss.

On Thu, May 5, 2022 at 9:08 AM Sergio C ***@***.***> wrote:

[2022-05-05 16:33] SerggioC commented on #109
Basically because of the higher transaction fees when paying with cards, some merchants that use our app are not very happy with the extra cost.
That's why I suggested the ability to choose the available payment methods.
Thank you for considering.

[2022-05-06 14:31] ChrisGuzman commented on #110
@guilindohick please edit the issue and add steps to reproduce the behavior in the **To Reproduce** section and add screenshots to help explain your problem in the ** Screenshots** section. Additionally, can you tell us if you are creating the Order via the SDK or if the order is created server side. We'd also like for you to share the package name of the app you're experiencing this error. It's d

[2022-05-06 14:36] ChrisGuzman commented on #110
@guilindohick
Before going live, PayPal must review your app to approve the sharing of customer data. The review automatically starts once you select the Log in with PayPal checkbox on your Developer Dashboard (Step 3 of [Enable the SDK](https://developer.paypal.com/limited-release/native-checkout/android/#enable-the-sdk)). The review for sandbox apps typically completes within 2 hours. The review

[2022-05-10 14:33] #101 closed

[2022-05-10 15:16] Mad-Bones opened #111 "App does not open after logging into PayPal"
**Describe the bug**
After logging into a PayPal sandbox account, browsers display an error: No application associated with the "com.myApp:" protocol was found on your system.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on 'PayPal button'
2. Login account
3. See error

**Expected behavior**
loggin in the sandbox account and continue with the purchase

**Smartphone (please complete

[2022-05-17 20:21] Mad-Bones commented on #111
7 days... no answer...

[2022-05-20 14:53] ctamura commented on #111
I'm trying to reproduce your issue now. I will keep you updated on any progress.

[2022-05-23 20:11] #110 closed

[2022-05-24 15:37] tdchow commented on #111
Hey @Mad-Bones - as we're looking into the issue would you be able to provide a screenshot of the webpage that contains the error?

Could you also share your ClientID and a code snippet of setting your `CheckoutConfig`?

[2022-05-25 11:07] santhoshnarendra opened #112 "[Java][0.6.2]cancel callback is not called ()->{}"
The issue was not found by me in existing columns, so have created a new one here.
**When User cancels the paypal checkout, callback errorInfo is executed in the place of cancel**

A clear and concise description of what the bug is.
- create order is executed as expected from `paypalCheckout.startCheckout`
- when user proceeds with the order, order is placed successfully from `paypalCheckout.regis

[2022-05-26 11:23] yanhui11 opened #113 "cardinalmobilesdk-2.2.4-1 Received status code 502 from server: Bad Gateway"
introduce resource
repositories {
    mavenCentral()
    maven {
        url  "https://cardinalcommerceprod.jfrog.io/artifactory/android"
        credentials {
            // Be sure to add these non-sensitive credentials in order to retrieve dependencies from
            // the private repository.
            username 'paypal_sgerritz'
            password 'AKCp8jQ8tAahqpT5JjZ4FRP2mW7GMoFZ674kGqH

[2022-05-26 14:37] tdchow commented on #112
Hi @santhoshnarendra - Would you be able to provide a screen recording of the cancel flow where you're seeing the onError callback invoked?

Are you seeing the native checkout experience or are you seeing a full screen webview loaded?

[2022-05-26 19:04] Mad-Bones commented on #111
`
    PayPalButton payPalButton;

@Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
[...]

        payPalButton = findViewById(R.id.payPalButton);
CheckoutConfig config = new CheckoutConfig(
                this.getApplication(),
                PAYPAL_CLIENT_ID,
                Environment.SANDBOX,
                BuildConfig.APPLICATIO

[2022-05-27 02:51] yanhui11 commented on #113
@tdchow this is my project`s root build.gradle file
buildscript {
    ext.kotlin_version = '1.6.10'
    repositories {
        google()
        maven { url 'https://jitpack.io' }
        maven { url 'https://repo1.maven.org/maven2/' }
        maven { url 'https://maven.aliyun.com/repository/public/' }
        maven { url "https://dl.bintray.com/thelasterstar/maven/" }
    }
    dependencies {

[2022-05-27 14:41] tdchow commented on #111
@Mad-Bones Hmm when the auth webpage is loaded, is it opening in a Chrome Custom Tab, or is it opening in your browser app? the screenshot is looking a little strange, as the SDK shouldn't be opening anything in the external browser.

Few follow up questions:
- Which browser do you have installed on this device?
- Could you share a screen recording from pressing the payment button all the way unti

[2022-05-27 14:43] tdchow commented on #112
@santhoshnarendra - thanks so much for the screen recording! We'll take a look at this internally. Thanks again for reporting!

[2022-05-27 15:12] tdchow commented on #113
@yanhui11 - Can you try removing `maven { url "https://dl.bintray.com/thelasterstar/maven/" }` from both `buildscript->repositories` and `allprojects->repositories`? I'm seeing a 502 for this maven repo. Since you have it defined above the cardinal maven repository, it may be throwing the 502 error before gradle tries to get the dependency from `https://cardinalcommerceprod.jfrog.io/artifactory/an

[2022-05-30 01:24] Mad-Bones commented on #111
How is it possible that when calling the PayPal helpline, they inform me that I cannot use a webview in my app to use the api, and you ask me if I use an external browser has? It has no consistency. Anyway, I can not provide more data since I deleted the api and we changed to another api that had no fault, goodbye

[2022-05-30 01:24] #111 closed

[2022-05-30 02:16] yanhui11 commented on #113
Thank you, the problem has been solved.

[2022-05-30 03:46] yanhui11 commented on #113
now I call the payment API.
Prompt: this operation does not seem to be supported. Please return and report the error so that we can provide support for you in the future. (invalid range)

[2022-06-01 21:33] tdchow commented on #113
Hey @yanhui11 - I'm going to go ahead and close this issue out as your initial issue was resolved. Feel free to open a new issue if you're still seeing issues with the one of the APIs. Thanks!

[2022-06-01 21:33] #113 closed

[2022-06-03 02:16] ibrelm opened #114 "error when click on checkout"
this screen showing when click on checkout button, it must open login page for paypal , please fix this urgently, note : i add correct client id and code is clean thanks, pls see picture error
![Screenshot_2022-06-03-03-13-23](https://user-images.githubusercontent.com/27866362/171773771-de8a78e1-bf11-49e1-8399-32f15d06cf5a.png)

[2022-06-03 17:06] ctamura commented on #112
@santhoshnarendra What ReactNative module are you referring to in your original post?

[2022-06-06 03:23] yanhui11 commented on #113
![aadd06c61ec0914b25242f5fb580db0](https://user-images.githubusercontent.com/73574987/172089098-4329106e-9d80-4154-b456-11308fa325fa.jpg)
sandbox mode call api PayPalCheckout.start()

[2022-06-06 16:28] ctamura commented on #112
@santhoshnarendra Are you modifying the OnCancel, OnError callbacks or using a custom return URL?

[2022-06-07 16:54] ibrelm commented on #114
thanks bro

[2022-06-08 03:58] sanjivdhakal opened #115 "Invalid Scope error on Live Environment"
I implement this sdk on my android application for payment button, all was success on sandbox but when i switch to live environment, after calling create order, the new tab shows invalid scope. What may be the problem? Scopes (Fullname, email, paypalid...) are already verified by paypal.

[2022-06-08 07:37] santhoshnarendra commented on #112
@ctamura  thanks a lot for your reply, I will shortly send you the block of Code for Config. I believe the returnUrl works well, as if it doesn't we wont be navigated back though the onError Block works.

We have modified a bit of onCancel, onError and approve callbacks but all those are based on the docs. The issue we face mainly is that, onCancel (Which supposed to be triggered when user cancels

[2022-06-08 15:06] MilanGhimire666 commented on #41
Hey @tdchow I also got the same problem. Can you please help me resolve this ?

[2022-06-08 16:05] MilanGhimire666 opened #116 "Paypal working in sandbox but not in live"
Recently I integrated PayPal in my application . Everything works fine in sandbox but i got **( Invalid Scope )** error in my Live environment.

Can you please help me ?

[2022-06-09 03:47] A-10ng opened #117 "SDK initialization Crash"
behavior:
Once initialzing, app crashes

error log:
![image](https://user-images.githubusercontent.com/32977668/172760015-cc5ceab9-94c6-4abd-a260-63f320516a1a.png)

info:
pixel 4
android 11
SDK 0.5.2
minifyEnabled true

proguard-rules:
#paypal
-keep class com.paypal.** { *; }
-keep class com.amplitude.** { *; }
-keepclassmembers class * extends com.google.crypto.tink.shaded.protobuf.GeneratedMessa

[2022-06-09 04:04] A-10ng commented on #117
after add code in proguard-rules, problem sovled

-keep class com.google.android.gms.ads.** { *; }

[2022-06-09 04:04] #117 closed

[2022-06-09 05:10] rajat-android opened #118 "<PayPalCreditButton> Not working at all"
<PayPalCreditButton> Always ineligible for all the users, I have Added <PayPalCreditButton> button in xml. but still can not able to load it as requirement.

As per documentation and the Classes you provided , this must be helpful , but not working at all.
Please have look.

[2022-06-09 08:48] santhoshnarendra commented on #112
Action Block Code

[code]

[2022-06-09 08:49] santhoshnarendra commented on #112
@ctamura @tdchow  Kindly find the Code Snippet above, thanks!

[2022-06-09 11:50] blob810 commented on #115
I have the exact same problem. We have a Business Account. Native Checkout on Android is working in the sandbox. But in live environment I get the same problem - invalid scope. The configuration of the app in the developer account is identical with the configuration of the sandbox app.

[2022-06-09 15:29] sanjivdhakal commented on #115
Please Share if you found any solution

[2022-06-10 11:57] blob810 commented on #115
@tdchow
Do you have an idea how to solve the problem. In the developer dashboard sign in with PayPal is activated. Thank you.

[2022-06-10 18:33] tdchow commented on #114
Hey @ibrelm - would you be able to provide me the client ID you're passing into the SDK?

@sanjivdhakal - Will respond to your issue shortly!

[2022-06-10 18:34] tdchow commented on #115
Hey @sanjivdhakal and @blob810 - would you both be able to provide me with your live client ID? I'll do some digging on my end to see what scope issues you both have. Thanks!

[2022-06-10 18:35] tdchow commented on #116
Hi @MilanGhimire666 - would you be able to provide me with your Live client ID?

[2022-06-10 18:51] MilanGhimire666 commented on #116
AeyJxIfc52ZFDyEysKR32yxoGcm5aFMFFPN1CJewOdKiwgnXk0_fyWz4P5GpYSfJsnq-DqotpOJ21pGu

[2022-06-10 18:55] blob810 commented on #115
Thanks for your fast reply. Here is my client id for this application.

`AeFwbik8V07ENCFHlWxD-4nP4zor72XqAb2YoTbhPvh7do6zBTygsQtEMJ2ilhybn_9nIxREjM61C0kb`

[2022-06-10 22:10] mahmoud-turki commented on #118
Hi @rajat-android,

Thank you for reporting the issue and I will be more than happy to help you!

Do you happen to know if the `PayLater` button was eligible in all the use cases where the `PayPalCredit` button was ineligible? You should only see either PayLater button or PayPalCredit. There will never be a use case where the user is eligible for both PayLater and PayPalCredit at the same time.

[2022-06-11 04:41] sanjivdhakal commented on #115
And here is mine AeyJxIfc52ZFDyEysKR32yxoGcm5aFMFFPN1CJewOdKiwgnXk0_fyWz4P5GpYSfJsnq-DqotpOJ21pGu

[2022-06-12 15:21] sanjivdhakal commented on #115
@tdchow Any Updates?

[2022-06-13 16:13] tdchow commented on #115
@sanjivdhakal - No updates to share yet. I'm still following up with an internal team to add the correct scope to your client ID.

[2022-06-15 07:06] blob810 commented on #115
Hi @tdchow,
it's working now in the live environment. I'm very happy. Thanks for your help.

[2022-06-15 07:16] #116 closed

[2022-06-15 07:41] #115 closed

[2022-06-15 07:41] sanjivdhakal commented on #115
Solved, Thanks

[2022-06-15 19:46] tdchow opened #119 "Test Issue"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-06-15 19:47] tdchow commented on #119
Test comment in issue.

[2022-06-15 19:47] tdchow commented on #119
Another comment in issue.

[2022-06-15 19:48] tdchow commented on #119
One more comment in issue.

[2022-06-15 19:48] #119 closed

[2022-06-16 22:45] winzoor commented on #114
I have same problem, but with sandbox enviroment.
I am use SDK "android-sdk:0.6.0"

Client ID:
ATc1nb1_zQ1bvW6h_oAJppkSnjVRUm6hV3dtS53QNorq1ik4CjgimugD4MnxgAK3C3sqrIrCG2yTXTc9

[2022-06-21 15:01] tdchow commented on #114
Hey @winzoor - can you log into the PayPal developer portal, navigate to your REST app, and ensure that `Native Checkout SDK` is enabled? There was a bug on the portal where this option was hidden.

<img width="572" alt="image001" src="https://user-images.githubusercontent.com/5005216/174832457-68b17811-3731-4f34-a24a-5b7edfa74436.png">

If you're still having issues, can you please open a new Git

[2022-06-21 15:08] winzoor commented on #114
I already checked the portal and I already saw the option to enable the native checkout payment.
Thanks.
________________________________
De: Tim Chow ***@***.***>
Enviado: martes, 21 de junio de 2022 10:01 a. m.
Para: paypal/android-checkout-sdk ***@***.***>
CC: winzoor ***@***.***>; Mention ***@***.***>
Asunto: Re: [paypal/android-checkout-sdk] error when click on checkout (Issue #114)

Hey @win

[2022-06-21 15:20] mahmoud-turki commented on #118
Hi @rajat-android,

I want to followup with you to see if you have any update for us. If it's no longer the issue I will close the ticket and feel free to reopen again. Thank you :)

[2022-06-28 02:00] GengJian commented on #114
Unfortunately, I also encountered the same problem, but I couldn't find the switch of "enable the Native Checkout SDK"

[2022-07-01 16:02] ChrisGuzman commented on #114
@GengJian could you show me a screenshot of the REST app options in your developer portal? It should look similar to this. This will help me determine if the bug where the `Native Checkout SDK` option is hidden still exists.

![image](https://user-images.githubusercontent.com/1993855/176930001-ae7c121b-25e0-45a2-8036-5a1779d5b16d.png)

[2022-07-01 16:22] ibrelm commented on #114
i don't have this option for native checkout SDK on my developer portal
![Uploading Capture d’écran 2022-07-01 172154.png…]()

[2022-07-01 16:24] #114 closed

[2022-07-06 01:18] jianjun8421 commented on #33
how to fix this ? I have the same problem

[2022-07-06 01:22] ChrisGuzman commented on #33
Hi @jianjun8421
The latest version of the SDK is [0.6.3](https://github.com/paypal/android-checkout-sdk/blob/main/CHANGELOG.md#version-063) please try to upgrade to that version and if you need to report a bug or unexpected behavior please open a new issue.

[2022-07-06 01:25] jianjun8421 commented on #33
ok. Thanks your reply.

At 2022-07-06 09:22:47, "Chris Guzman" ***@***.***> wrote:

Hi @jianjun8421
The latest version of the SDK is 0.6.3 please try to upgrade to that version and if you need to report a bug or unexpected behavior please open a new issue.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-07-08 23:33] GraceHuntley commented on #112
Hi @santhoshnarendra sorry about the delayed response I have been in the process of debugging this issue. I am happy to announce that I have found the source of the issue and I am in the process of testing the solution. We will update you when we have a release with the fix. Thank you for your detailed bug report.

[2022-07-13 10:17] JasonChiAT opened #121 "cardinalmobilesdk-2.2.4-1 Received status code 403 from server: Forbidden"
* What went wrong:
Execution failed for task ':app:dataBindingMergeDependencyArtifactsDebug'.

     Required by:
         project :app > com.paypal.checkout:android-sdk:0.6.3

I have added credentials following by [document](https://developer.paypal.com/limited-release/native-checkout/android/#prepare-your-app) in root build.gradle, the issue happens randomly and is frequently these few days. Is A

[2022-07-14 12:06] ChrisGuzman commented on #121
Hello,

We're currently investigating this and are in touch with Cardinal Commerce to resolve the issue. We'll provide you with updates here as they occur.

[2022-07-18 09:32] SerggioC opened #123 "Version 0.7.1 removes returnUrl from CheckoutConfig but then fails with missing returnUrl"
**Describe the bug**
Version 0.7.1 of the SDK removes returnUrl from CheckoutConfig but then fails with missing returnUrl.

**To Reproduce**
Steps to reproduce the behavior:
1- Update to 0.7.1 which does not have returnUrl defined in the CheckoutConfig
2- Start Paypal payment.
3- Paypal opens external browser window to login and fails with error invalid client_id or redirect_url. check screenshot

[2022-07-18 14:42] tdchow commented on #123
Hey @SerggioC - thanks for reaching out. We're in the process of removing the returnUrl requirement from integrations with our SDK. We haven't made all of the backend changes yet.

To fix your integration with the 0.7.1 version, you can add `nativexo://paypalpay` as a return URL for your rest app in the PayPal Developer Portal. Can you try adding that and retrying your integration?

[2022-07-19 06:38] yanhui11 opened #124 "Live environment tips Invalid Scope"
Recently I integrated PayPal in my application . Everything works fine in sandbox but i got ( Invalid Scope ) error in my Live environment.

Can you please help me ?

my clientID  ASC6yibyPO1Kc43ZRVLhf978kxzB1NIQxFwpY-pIzT-nkTXN1wPQK9Cbp0VRBmzZwhYApRpk8Jk9tBko

[2022-07-20 08:41] #124 closed

[2022-07-20 13:42] praveenpkandroid opened #125 "i have issue when login paypal in android 12 app will crush but any other device perfectly work"
V/nxoBaseCallback: https://www.paypal.com/xoplatform/logger/api/logger returned with response
D/BaseSecureKeyWrapper: Base64+URL Safe String: MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAE8aIEvNNHu4tESnkHXC6eVcFDkrz3QbWcctek0lCPgLI4_9in5I8SP8N_pCGGpfze6yLi9WWvz6QuBbB8WWlDog
D/BaseSecureKeyWrapper: Base64+URL Safe String: MEUCIQDK3uHGSoBPpGZoQBGybb8qtk3sl4f39dVZqSPBdLQ4_AIgV8byxNX0_d9wEqJ3Fzhyq7TH7aYk0qCYOBC

[2022-07-20 14:16] GraceHuntley commented on #125
Can you please share the paypalcheckout sdk version you are using?

Thank you,

On Wed, Jul 20, 2022, 6:42 AM praveenpkandroid ***@***.***>
wrote:

[2022-07-21 14:24] GraceHuntley commented on #125
Thank you for your response, 0.2.0 is quite old. 0.6.3 is the most recent
version that does not have major implementation changes. 0.7.2 was just
released as well and new documentation for it is on the way soon.

On Wed, Jul 20, 2022, 10:05 PM praveenpkandroid ***@***.***>
wrote:

[2022-07-25 05:50] praveenpkandroid commented on #125
ok @GraceHuntley  thanks for reply it's fixed

[2022-07-27 14:26] santhoshnarendra commented on #112
Hi @GraceHuntley , thanks for the update. Looking forward to the fix!

[2022-07-29 20:40] nitinklean opened #127 "getting invalid scope with sandbox account"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-08-02 14:03] #125 closed

[2022-08-02 14:04] ChrisGuzman commented on #127
Hello,

Can you please provide me with your client id?

[2022-08-09 08:28] SerggioC commented on #123
Just updated to 0.7.3 and the error is gone.
Thank you.

[2022-08-09 08:28] #123 closed

[2022-08-12 02:01] terrence1991 opened #128 "online crash in 0.5.4"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
Many users try to pay but failed.

**Expected behavior**
Caused by:
java.lang.IllegalStateException:Required value was null.
com.paypal.pyplcheckout.di.SdkComponent

[2022-08-12 17:05] ChrisGuzman commented on #128
Hello, the latest version is Version 0.7.3. Can you try again with that version? The latest version is always available to check via our [changelog](https://github.com/paypal/android-checkout-sdk/blob/main/CHANGELOG.md)

[2022-08-20 03:25] shixiangyu opened #129 "looks like this action is not supported..."
![image](https://user-images.githubusercontent.com/18461582/185727182-120a56bd-487a-4d76-967c-3fd9ba4da8e2.png)

[2022-08-21 01:39] MRHVSC opened #130 "mrh"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-08-21 16:21] anhy999 opened #131 "Bug report"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-08-21 17:32] anhy999 opened #132 "Feature request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-22 16:28] ChrisGuzman commented on #130
Hello,
Please add more details to the bug report so we can investigate.

[2022-08-22 16:28] ChrisGuzman commented on #131
Hello,
Please add more details to the bug report so we can investigate.

[2022-08-22 16:28] ChrisGuzman commented on #132
Hello,
Please add more details to the feature request so we can investigate.

[2022-08-27 12:34] pascaprevost opened #134 "Paypal button not working with com.paypal.checkout:android-sdk:0.8.0"
Hi,
When I'm using "com.paypal.checkout:android-sdk:**0.6.1**", the Paypal button is working well in sandbox and Live environment.
![image](https://user-images.githubusercontent.com/15417623/187030363-07d3e434-8a22-44ab-907a-f25a8dab4e32.png)

When I'm using "com.paypal.checkout:android-sdk:**0.8.0**", there is a spinner on my PayPayl button and after 5 or 6 seconds, the button becomes invisible !

[2022-08-29 14:36] ChrisGuzman commented on #134
Hello,

Thank you for your bug report. We will investigate and respond with our findings.

[2022-08-31 08:45] YBZzhangyanbin commented on #129
I have a similar problem .
The SDK I use is com.paypal.checkout:android-sdk:0.5.2
My Client ID is  AeJ407jpGvJ0xtTdt1JtDpKZJMSKLSk-6UK-Lh-JCtywuVZYxLXneOUXV8rv2hTH5YrXwTAeeoKkXRq3

[2022-08-31 16:31] DomagojCavar opened #135 "Return url problem after successful login"
Hi,
I encounter an issue with the return URL after login. My app successfully opens PayPal modal and after login with email and password (WebView) the app restarts.  I know the app restarts cuz I set intent-filter in manifest in order to return from WebView to the App, but my app is a single activity app, so the whole app is restarted. This is bad cuz the user lands on the initial screen.
I don't

[2022-08-31 18:58] tdchow commented on #135
Hey @DomagojCavar  - Thanks for reporting the issue. This is definitely not ideal behavior!

Would you be able to send a screen recording of what you're seeing? We'll try reproducing on our end using a single activity app. Will keep you updated.

[2022-08-31 19:03] tdchow commented on #112
hi @santhoshnarendra - this issue should now be resolved in the latest version of the SDK. Please try using version 0.8.0. Going to close this issue for now, but if you're still seeing unexpected behavior with the callback, please reply here!

[2022-08-31 19:03] #112 closed

[2022-08-31 19:08] tdchow commented on #130
Hey @MRHVSC - I'm going to close out this issue. Please open a new issue and provide details so we can investigate. Thanks!

[2022-08-31 19:08] #130 closed

[2022-08-31 19:11] tdchow commented on #132
Hey @anhy999 - I'm going to close out this issue. Please open a new issue and provide details so we can investigate. Thanks!

[2022-08-31 19:11] #132 closed

[2022-08-31 19:11] tdchow commented on #131
Hey @anhy999 - I'm going to close out this issue. Please open a new issue and provide details so we can investigate. Thanks!

[2022-08-31 19:11] #131 closed

[2022-08-31 19:15] tdchow commented on #129
Hi @YBZzhangyanbin - could you create a new GitHub issue and provide these details? I'll be able to help you there.

@shixiangyu - would you be able to share the version of the SDK you're using?

[2022-08-31 19:18] #118 closed

[2022-08-31 19:19] tdchow commented on #128
Hey @terrence1991 - I believe this crash was resolved in a newer version of the SDK. We now have version 0.8.0 released. Please try that version and see if you're able to reproduce the crash. I'm going to close out the issue, but please respond here if you're still seeing the crash on the latest version. Thanks!

[2022-08-31 19:19] #128 closed

[2022-08-31 19:25] tdchow commented on #121
Hi @JasonChiAT - This issue should now be resolved. I'm going to close out this issue, but please reply here if you're still seeing issues. Thanks!

[2022-08-31 19:25] #121 closed

[2022-08-31 19:47] tdchow commented on #127
Hey @nitinklean - Going to close out this issue for now. If you're still seeing the issue, please reply back with your Client ID. Thanks!

[2022-08-31 19:47] #127 closed

[2022-09-01 05:55] YBZzhangyanbin commented on #129
OK

[2022-09-01 06:01] YBZzhangyanbin opened #136 "Now SANDBOX is OK,but LIVE is not working"
I am integrating PayPal payment
Now SANDBOX is OK,but LIVE is not working
The error is  "This operation does not appear to be supported Please
return and report this error so that we can support you in the future.
(Invalid range)"
My Client ID is
AeJ407jpGvJ0xtTdt1JtDpKZJMSKLSk-6UK-Lh-JCtywuVZYxLXneOUXV8rv2hTH5YrXwTAeeoKkXRq3

The SDK I use is com.paypal.checkout:android-sdk:0.5.2

[2022-09-01 06:02] YBZzhangyanbin commented on #136
![1091661481700_ pic](https://user-images.githubusercontent.com/38391834/187842756-0933c3f2-69f5-4d99-99b1-6d4b2c70f0b0.jpg)

[2022-09-01 06:14] rajat-android commented on #118
We were a little busy at the time, And thought of doing another payment
gateway.
We still have that issue and the Simple Paypal button is working as
expected, but Paypal Later Button and Credit button eligibility always
comes up false and we are not able to see those buttons in the UI of App.
We will start work on that soon and I will let you know the status and if
we face any issues.

On Thu, Sep

[2022-09-01 08:28] DomagojCavar commented on #135
Hi, sure!
[device-2022-09-01-102721.webm](https://user-images.githubusercontent.com/50199424/187868904-a42ef68a-d0c4-4596-87ce-3d2b7a4a33ac.webm)

[2022-09-01 12:09] YBZzhangyanbin commented on #136
@tdchow here

[2022-09-01 14:14] tdchow commented on #136
@YBZzhangyanbin - Thanks for reporting this in a new issue. I've added the missing scopes to your client ID. Can you try your live integration again and see if you get the same error?

[2022-09-02 02:48] YBZzhangyanbin commented on #136
New Error
This operation does not appear to be supported. Please return and report this error so that we can support you in the future. (Invalid client_id or redirect_uri)

[2022-09-02 02:48] YBZzhangyanbin commented on #136
@tdchow

[2022-09-02 02:49] YBZzhangyanbin commented on #136
@tdchow
Sorry to disturb you again

[2022-09-02 13:45] tdchow commented on #136
@YBZzhangyanbin - no problem at all. I added the missing scopes for the above client ID. Can you try that integration again?

[2022-09-05 07:06] YBZzhangyanbin commented on #136
Everything is normal here!Thanks!

[2022-09-05 07:06] #136 closed

[2022-09-05 20:33] DomagojCavar commented on #135
Hi @tdchow, I tried to remove the intent filter, but the app is stuck with an infinite loader (I think the redirect failed). I also checked return URLs in the App and Dev console, URLs are the same.

[2022-09-06 10:43] thehaodev opened #137 "Can I load paypal webview in android without config return url"

[2022-09-06 10:59] thehaodev opened #138 "Can I load paypal webview in android just by call api and not config return url ?"
My app using the same API in below web. My senior told me just call API to show Paypal not config url in paypal button. But i read in documents that must config return url in DeveloperDashboard. What should I do ?

![Picture](https://user-images.githubusercontent.com/112054658/188617892-48c0baf9-e3e6-441e-a0ab-201425924c79.png)

[2022-09-06 21:19] joornby-angel opened #140 "NullPointer getting phone challenge data in Sandbox"
**Describe the bug**
I'm getting a null pointer in the SDK library after entering my sandbox user email in the login menu.  The stack trace suggests that the challenge data retrieved for the user is null.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch PayPal programmatically
2. Enter email of sandbox personal account
3. Click "Next"
4. Application crashes

**Expected behavior**
To lo

[2022-09-07 14:37] windowschares opened #141 "Unable to create the LSAT Token for the given Client ID:"
I am trying to integrate paypal payment with server implementation on app called DOOO Movie streaming app. when i process the payment page, it crashes and shows following error

2022-09-07 20:02:11.656 28191-28696/com.dooo.android E/InstrumentationErr: Unable to create the LSAT Token for the given Client ID: Adia2dKP9roVwsMssadQc9mTgnARregGcOIUpxQk6kEiPWDfKYDqecirFeLCGCWUqhOnEYwzfrftl1Ud Create LS

[2022-09-07 21:49] developer-dmp commented on #99
Any update here?

[2022-09-07 23:10] ChrisGuzman commented on #99
Hello,
As mentioned in https://github.com/paypal/paypalcheckout-ios/issues/110, our team is determining the roadmap, but this will be included in a near term release.

[2022-09-07 23:15] ChrisGuzman commented on #140
Hello,

Can you check if your sandbox user has any phone numbers associated with the account? If you can share the email address or account ID of the account you're using to login that would be helpful as well.

[2022-09-08 00:06] sterlingann commented on #104
@saperi22  Do you mind following up on this one please?

[2022-09-08 00:08] sterlingann commented on #129
Thanks @YBZzhangyanbin , we are looking forward to following up

[2022-09-08 00:10] sterlingann commented on #141
@windowschares  do you mind sharing what version you are on?

[2022-09-08 00:52] joornby-angel commented on #140
@ChrisGuzman Thanks for getting back to me.

Sandbox account: sb-vbg5820471363@business.example.com

Sandbox user trying to log in:
email: jo.ornby@gmail.com
account id: SH6QULLTXDABL
phone number: 4088935633 (auto-assigned, not mine, and i don't seem to have the capacity to edit it.)
status: verified
country: US

We're doing a programmatic start of the checkout process, relevant code follows:

[c

[2022-09-08 00:54] joornby-angel commented on #140
Also to note, I wasn't sure how active this github repository was, so I also opened a support ticket on your sales force instance.  The ticket number is: 11322358.

[2022-09-08 01:33] saperi22 commented on #104
@HuixingWong we'll be looking at these issues in the coming days. I'll provide you with an update once they are identified and fixed.

[2022-09-08 01:34] saperi22 commented on #105
@HuixingWong we've passed this to the auth team. Once they fix it, we'll let you know.

[2022-09-08 01:36] HuixingWong commented on #104
Thanks.  By the way, is Paypal hiring?  Our company is closed  last month 😂

[2022-09-08 01:44] saperi22 commented on #104
@HuixingWong You can find the current job openings at [https://careers.pypl.com/home/default.aspx](https://careers.pypl.com/home/default.aspx)
You should be able to search for jobs based on your career aspirations and location preferences.

[2022-09-08 01:46] HuixingWong commented on #104
@saperi22  Thanks again ！

[2022-09-08 16:52] ChrisGuzman commented on #138
Hello @thehaodev

Apologies, I don't fully understand your request. We recently released version 0.8.1 which removes the requirement for a returnUrl. You can read [the changelog](https://github.com/paypal/android-checkout-sdk/blob/main/CHANGELOG.md#version-081) for more information

I also want to confirm that you are inquiring about the Android SDK that this repository concerns. Your screenshot s

[2022-09-08 19:40] ChrisGuzman commented on #141
@windowschares I believe you are using the Client ID for a live application while the SDK is set to `Environment.SANDBOX`. Please try again using the Client ID for a sandbox application or setting the the environment to `Environment.LIVE` via

[code]

[2022-09-08 19:56] ChrisGuzman commented on #140
Thank you. We're investigating.

[2022-09-08 19:57] ChrisGuzman commented on #134
We recently released version 0.8.1. Can you upgrade to that version and let us know if the issue still occurs?

[2022-09-09 02:29] thehaodev commented on #138
Hello @ChrisGuzman

Thanks for your replay. So my situation is I'm working with paypal in outsource project. The problem is when connect with Paypal from app we must config URL right ?. But in iOS they don't config. Then my senior told me just call api like web to connect with Paypal. So in short, my question is can I connect to Paypal just by call API from my server ?

According to your response

[2022-09-09 04:11] windowschares commented on #141
@sterlingann
 implementation('com.paypal.checkout:android-sdk:0.6.3')
currently using 9..3

[2022-09-09 04:14] windowschares commented on #141
![photo_2022-09-09_09-43-41](https://user-images.githubusercontent.com/88431076/189270590-36ba41c4-43de-4d61-9d55-4c897fed93bd.jpg)
@ChrisGuzman  after trying with your suggestion login page came but after that i got this scope issue attaching screenshot

[2022-09-09 04:18] windowschares commented on #141
I think attaching link of error page with logcat will helpful so here is it
[https://www.paypal.com/connect/?redirect_uri=com.dooo.android%3A%2F%2Fpaypalpay&client_id=Adia2dKP9roVwsMssadQc9mTgnARregGcOIUpxQk6kEiPWDfKYDqecirFeLCGCWUqhOnEYwzfrftl1Ud&response_type=code&state=N7a7ny8CqpvQHt-75X8zWQ&scope=openid%20email%20profile%20https%3A%2F%2Furi.paypal.com%2Fweb%2Fexperience%2Fincontextxo&code_chal

[2022-09-09 04:30] windowschares commented on #141
`E/InstrumentationErr: Error Parsing Experiment fetchAndHandleExperiments()
    java.lang.Exception: Error Parsing Experiment
        at com.paypal.pyplcheckout.ab.elmo.Elmo.fetchRemoteTreatment(Elmo.kt:101)
        at com.paypal.pyplcheckout.ab.elmo.Elmo.access$fetchRemoteTreatment(Elmo.kt:25)
        at com.paypal.pyplcheckout.ab.elmo.Elmo$getTreatmentRemote$1.invokeSuspend(Elmo.kt:78)
        a

[2022-09-09 09:25] pascaprevost commented on #134
Unfortunately, with 0.8.1, I have the same issue, same behavior. There is a spinner on Paypal button and, after 5s, the button is automatically hidden.

[2022-09-13 00:00] ubuntubeki opened #144 "w"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-09-13 16:55] ChrisGuzman commented on #144
Hello @ubuntubeki. Please add more details and open a new issue if you're reporting a bug.

[2022-09-13 16:55] #144 closed

[2022-09-16 21:44] ChrisGuzman commented on #140
@joornby-angel are you minifying your build? Could you try to recreate the error without minifying your build?

[2022-09-16 21:47] ChrisGuzman commented on #141
@windowschares can you confirm that you have entered a return url and added the Full name and Email scopes as outlined in [Enable the SDK instructions](https://developer.paypal.com/limited-release/paypal-mobile-checkout/android/#link-enablethesdk). If you have those can you please share the returnUrl you've set in the `PayPalCheckout.setConfig` method and on the developer dashboard?

[2022-09-16 21:54] ChrisGuzman commented on #134
@pascaprevost can you please share the the package name of your app, if you're testing on sandbox or live, and the client ID you're using?

[2022-09-16 21:58] ChrisGuzman commented on #138
@thehaodev Please try to clear the cache for your app and chrome (or the default browser) and try again. That may resolve the error in your screenshot

[2022-09-17 08:26] pascaprevost commented on #134
- Package name : com.ppsoft.demo
- Sandbox Client Id : ARZ2Zcx6aRsVIErF4tZk-BgLn-13bxmCIXsDp89xFbIOl_Ebkk_917D5920ciuhgcj2x001Cr6EjRI82
- For your information, I have the same issue in Live and Sandbox environment.

[2022-09-18 09:23] ubuntubeki opened #145 "mijuu"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-09-18 14:57] halfaHalfawy opened #146 "dublicate class with androix.lifecycle modules"
I added the debendency
this is my settings.gradle

`pluginManagement {
    repositories {
        gradlePluginPortal()
        google()
        mavenCentral()
        maven {
            url "https://cardinalcommerceprod.jfrog.io/artifactory/android"
            credentials {
                // Be sure to add these non-sensitive credentials in order to retrieve dependencies from
                //

[2022-09-19 02:17] thehaodev commented on #138
@ChrisGuzman Thank you so much Sir.

[2022-09-19 02:17] #138 closed

[2022-09-19 14:23] halfaHalfawy commented on #146
[Processor] Library 'C:\Users\comupone\.gradle\caches\modules-2\files-2.1\com.paypal.android.sdk\data-collector\3.13.0\186fa09d77d6bd0d6fa09caff984f107557771\data-collector-3.13.0.aar' contains references to both AndroidX and old support library. This seems like the library is partially migrated. Jetifier will try to rewrite the library anyway.

[2022-09-19 18:39] joornby-angel commented on #140
@ChrisGuzman Hey, I'm just now getting back to this.  I'm no longer able to replicate this issue.  I was not able to test your minification theory, but we are minifying our build.  Is there anything you want me to try to do before we close this issue?

[2022-09-19 20:41] joornby-angel opened #147 "IllegalStateException attempting multiple checkouts in one application session"
**Describe the bug**
In a react-native android application, multiple calls to startCheckout result in a crash due to attempting to authenticate with a disposed openid auth service.

**To Reproduce**
Steps to reproduce the behavior:
1. Programmatically launch a checkout process
2. Complete payment
3. Programmatically launch the checkout process again
4. See error

**Screenshots**
[code]

**Smartpho

[2022-09-20 15:33] ChrisGuzman commented on #145
Hi @ubuntubeki Please add more details if you're reporting a bug so that we can investigate.

[2022-09-20 15:51] ChrisGuzman commented on #134
@pascaprevost The payment button for the funding type will not be visible if the funding type is not eligible. You may want to log out the `FundingEligibilityState` to learn more about the issue. Or you can try again with a different funding type. You can read more about the [PaymentButtonContainerViewState](https://developer.paypal.com/limited-release/paypal-mobile-checkout/android/customize-paym

[2022-09-21 09:40] Tetita opened #148 "SDK no compatible"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please complete the foll

[2022-09-21 09:43] #148 closed

[2022-09-22 10:37] WaqarAslam1000 commented on #147
Facing the same error

[2022-09-22 20:26] MAtech1850 opened #149 "Vendor Email confirmation"
I have an app that uses its services to sell products from within the app to users but every time a user tries to purchase a product, it says "vendor account doesnt have a verified email address paypal" any solution please?

[2022-09-22 20:34] MAtech1850 commented on #114
I have an app that uses its services to sell products from within the app to users but every time a user tries to purchase a product, it says "vendor account doesnt have a verified email address paypal" any solution please?

[2022-09-23 09:57] JAiden78 commented on #147
upgading to SDK Version: 0.8.1 resolved my issue

[2022-09-23 16:12] ajsherrell opened #150 "Straight to order confirmation?"
**Is your feature request related to a problem? Please describe.**
User needs to be able to use PayPal button to make an order from the cart without clicking a 'place order' button in my app.

**Describe the solution you'd like**
Can I use PayPal to skip checkout and go directly to an order confirmation to place the order without having to click a 'place order' button in checkout?

**Describe alte

[2022-09-24 05:43] LZHIQI opened #151 "crash"
com.paypal.checkout.order.OrderContextNotAvailableException: Tried to retrieve OrderContext before it was created.
        at com.paypal.checkout.order.OrderContext$Companion.get(OrderContext.kt:29)
        at com.paypal.checkout.order.UpdateOrderStatusAction$execute$orderContext$1.invokeSuspend(UpdateOrderStatusAction.kt:33)
        at com.paypal.checkout.order.UpdateOrderStatusAction$execute$ord

[2022-09-24 10:47] joornby-angel commented on #147
I was able to upgrade to 0.8.1, and can also confirm it's fixed.  Closing this issue.

[2022-09-24 10:47] #147 closed

[2022-09-25 14:07] ubuntubeki commented on #145
paypal is so difficult for ethiopia

[2022-09-29 14:04] HafizAwaiskhan opened #152 "PaymentButtonContainer is not inflating Android (0.8.1)"
**Describe the bug**
Using com.paypal.checkout.paymentbutton.PaymentButtonContainer with ('com.paypal.checkout:android-sdk:0.8.1') but its not rendering , inflating error in android.
How i can use that ? or there is some other approach ?

**To Reproduce**
Steps to reproduce the behavior:
add 'com.paypal.checkout:android-sdk:0.8.1'
then add <com.paypal.checkout.paymentbutton.PaymentButtonContainer

[2022-09-29 14:43] mahmoud-turki commented on #152
Hi @HafizAwaiskhan,

Thank you for reporting the issue. Could you please replace the `100dp` height with `warp_content`. Also, implement the view state listener on the view and see what exception do you get then report it here so we know what is the actual reason for not rendering.

For example:

[code]

[2022-09-29 14:51] mahmoud-turki commented on #146
Hi @halfaHalfawy,

Thank you for reporting the issue. You can exclude the duplicated dependencies from the gradle and try again. If you still see this issue please let us know :)

[2022-09-29 14:59] mahmoud-turki commented on #149
Hi @MAtech1850,

Thank you for reposting this issue. You will need to add your email address to PayPal dev portal as merchant and fill out all the information needed there and verify your email. If you still see this issue please report it on this portal https://www.paypal-community.com/t5/Sandbox-Environment/vendor-account-does-not-have-a-confirmed-email-address/td-p/2804018

I don't believe this

[2022-09-29 15:07] mahmoud-turki commented on #151
Hi @LZHIQI,

Thank you for reporting the issue. Please fill out all the required information below to be able to assist you. Unfortunately, I won't be able to do anything with just the stack trace.

Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FO

[2022-09-29 15:11] mahmoud-turki commented on #150
Hi @ajsherrell,

Thank you for reporting the issue. Could you explain in details what is the current flow looks like and what exactly are you trying to do? Also, what button are you using? Is it the `Paymentbutton` & `PaymentButtonContainer` that we ship in the `android-checkout-sdk` or it's standalone button that you define inside your app?

[2022-09-29 15:19] HafizAwaiskhan commented on #152
Hi @mahmoud-turki
Thank you for reply .

D/nxoPayPalButton: eligibility status updated: Loading
D/nxoPayPalCreditButton: eligibility status updated: Loading
D/nxoPayLaterButton: eligibility status updated: Loading
-------------------------------------------------------------------------

java.lang.RuntimeException: Unable to start activity ComponentInfo{com.cybermart.paypalcheckoutintegration/com.

[2022-09-29 19:31] mahmoud-turki commented on #152
I see, it looks to me that you didn't set the config on your application level. `PayPalCheckout.setConfig(checkoutConfig: CheckoutConfig)`. Could you check if you have the config set probably on the application level and let me know?

[2022-09-30 05:56] HafizAwaiskhan commented on #152
class MainActivity : AppCompatActivity() {
    lateinit var paymentButtonContainer: PaymentButtonContainer
    val TAG = "paypal"

    override fun onCreate(savedInstanceState: Bundle?) {
        super.onCreate(savedInstanceState)
        setContentView(R.layout.activity_main)
        paymentButtonContainer = findViewById(R.id.payment_button_container)
        val config = CheckoutConfig(

[2022-09-30 06:18] mahmoud-turki commented on #152
The config should be set on the application level before you start the MainActivity otherwise you will get exception.

[2022-09-30 08:25] nerocristallo opened #153 "web fallback for not native eligibility stuck in processing"
I am testing the web fallback for not native eligibility setting the shouldFailEligibility flag in SettingsConfig.

[code]

![Screenshot_20220930-095244](https://user-images.githubusercontent.com/25849016/193224104-e5acf9f6-1b32-49ce-8e94-292ddd00cb44.jpg)

The Web UI gets stuck during processing and the OnApprove callback is not called.

The checkout procedure works correctly when shouldFailEligi

[2022-09-30 23:16] saperi22 commented on #104
A fix for `NoSuchElementException` was merged in today. It missed to make it to the immediate next release, however, it should be included in the following release.
Thanks for reporting the error.

[2022-10-03 10:18] thehaodev opened #154 "Bug with OS 12"
**Describe the bug**
App crash when config paypal with OS 12.

**To Reproduce**
Steps to reproduce the behavior:
As you can see in the picture. At basse Application I call config like usual but when upgrade to OS  12 it throw me this error

**Expected behavior**
Can config normally

**Screenshots**
![image](https://user-images.githubusercontent.com/112054658/193554345-1350f5e7-caf3-4faf-a4b9-701ce

[2022-10-04 06:48] Mihaelalov25 opened #156 "Miky"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-10-04 14:49] #156 closed

[2022-10-04 15:05] halfaHalfawy commented on #146
thanks @mahmoud-turki
I exclude it and the paypal dependency then not work , after alot of serch I found that the error mainle was from google life-cycle modules , just downgrade the version and then it work

[2022-10-04 15:05] #146 closed

[2022-10-05 12:37] HafizAwaiskhan commented on #152
thank you

[2022-10-05 12:37] #152 closed

[2022-10-06 16:49] thehaodev commented on #154
Sorry for replay so late sir. Yeah it's completed resolved. I will close right now.

[2022-10-06 16:49] #154 closed

[2022-10-06 17:10] mahmoud-turki commented on #149
Closing this issue as it's not relevant to `android-checkout-sdk` please feel free to reopen it if you need additional help :)

[2022-10-06 17:10] #149 closed

[2022-10-07 15:54] applegb commented on #140
@ChrisGuzman, @joornby-angel and I are actually working on same team.
I am seeing this issue as well while testing live environment, not sandbox environment ->

[code]

I have tried, un-minifying the code and had the same result.

**Device:** Pixel 6
**Android API:** 33
**SDK Version:** 0.8.1

[2022-10-07 16:10] applegb commented on #140
Note for above: If I disable Proguard, the app crashes when it tries to launch the paypal screens (before being presented with login).

[code]

[2022-10-08 15:13] Jwiy opened #158 "j"

[2022-10-08 15:49] #158 closed

[2022-10-10 14:26] mubarakansari715 opened #159 "SdkComponent.java line 74"
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.***.app/com.paypal.pyplcheckout.home.view.activities.PYPLInitiateCheckoutActivity}: java.lang.IllegalStateException: Required value was null.
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:3635)
       at android.app.ActivityThread.handleLaunchActivity(ActivityThread.java:3792)

[2022-10-10 15:26] mahmoud-turki commented on #159
Thank you @mubarakansari715 for reporting the issue. Could you please fill out the required filed so we can help you resolving this issue? It's hard to know what's going on with just stack trace and not knowing if you are setting the configs properly or not.

Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE TH

[2022-10-12 13:22] ajsherrell commented on #150
Hi @mahmoud-turki ,

Update: I am able to code to have PayPal skip checkout in my app, however, I would like an **option** to have the PayPal UI button to say something like "Place Order" or something equivalent. Currently the button to continue back to the app says
"Review Order". Is this possible? Thanks.
![PpReviewOrderButton](https://user-images.githubusercontent.com/16841620/195354180-5890731

[2022-10-12 14:57] ajsherrell commented on #150
I am tasked by my Project Manager to analyze if it is possible to skip the checkout screen after returning to our UI from the PayPal UI. This is to better improve the probability of the user to complete their order.

I actually do have the userAction set to **UserAction.PAY_NOW**. But I am still seeing the "Review Order" button label. Is this expected. How can I get the PayPal UI button label to s

[2022-10-12 15:04] mahmoud-turki commented on #150
When you say `"skip the checkout screen" ` are you referring to PayPal checkout screen that you attached above? Could you please attach a video for the current experience from start to end?

| How can I get the PayPal UI button label to say "Complete Purchase"?
You need to assign UserAction.PAY_NOW as well to the order itself when you create it. Are you starting the checkout with an order object o

[2022-10-12 16:56] ajsherrell commented on #150
`When you say "skip the checkout screen" are you referring to PayPal checkout screen that you attached above?` --no, I mean the Checkout Screen in my app. I want to skip **my** Checkout Screen and go directly to **my** Order Completed Screen after the user clicks the "Complete Purchase"/"Review Order" button from the PayPal UI.

`Are you starting the checkout with an order object or orderId?` --I

[2022-10-12 17:05] mahmoud-turki commented on #150
Just to give a little bit of context here;
PayNow flow -> The PayPal button label will be "Complete Purchase", once the user hit that button we finish the checkout after we authorize the payment. Ideally the merchant should show complete order screen and nothing else needed from the user at this point.

Continue flow ->  The PayPal button label will be "Review Order", once the user hit that button

[2022-10-14 10:18] AnAnD4T1 commented on #150
@mahmoud-turki  how do you set user action in order creation api, i meant whats the key and value for that.

[2022-10-14 11:57] AnAnD4T1 commented on #35
@A-10ng how did you solve this issue

[2022-10-14 14:51] mahmoud-turki commented on #150
@AnAnD4T1 There are two ways to set user action.

1. On server side: When you create the order you should see `application_context` object which include `user_action`
2. On client side: When you create the `CheckoutConfig()` you should see `user_action`

Please check the docs :)
1. On server side: https://developer.paypal.com/docs/api/orders/v2/#definition-application_context
2. On client side: ht

[2022-10-15 15:02] LorenzoFumagalli opened #161 "Paypal-Debug-Id lire Rest APi"
Hi

I'm opening this ticket to understand if it is possible to recover a Debug-Id like in the Rest Api of the order details

Thank you

[2022-10-18 19:31] gabo-alv commented on #153
This got fixed in version `0.8.5`. Please update your SDK to the latest  version and this issue should be solved.

[2022-10-20 12:55] joornby-angel commented on #140
@ChrisGuzman We're getting this error consistently on a device running Android 13.  Do you have any ideas about what next steps we should take?

[2022-10-20 18:04] kilaniamine96 commented on #98
Hi, I have the same issue. Is there a fix coming out soon ?

[2022-10-21 13:54] ajsherrell commented on #150
Hi @mahmoud-turki ,

I have an update. I asked our backend developer to check what the user_action is set to. He discovered: "From backend, there is not value sent to PCS for paypal user action, but the acsURl received redirects to sandbox with user action as continue(Looks like default value from cardinal)."

As I mentioned earlier, I have the UserAction set to PAY_NOW in the CheckoutConfig() in

[2022-10-21 15:08] nerocristallo commented on #153
I can confirm that it is fixed in 0.8.5

Thank you

[2022-10-21 16:01] AnAnD4T1 commented on #150
@mahmoud-turki thanks

[2022-10-21 19:48] #153 closed

[2022-10-25 14:01] dscoder421 commented on #98
I dont know @kilaniamine96, now my team uses Flutter and I still didn't get a response

[2022-10-25 15:50] mahmoud-turki commented on #151
Closing this issue as no additional details were provided. Please feel free to re-open it whenever you have all details needed. Thank you!

[2022-10-25 15:50] #151 closed

[2022-10-25 15:51] mahmoud-turki commented on #159
Closing this issue as no additional details were provided. Please feel free to re-open it whenever you have all details needed. Thank you!

[2022-10-25 15:51] #159 closed

[2022-10-25 16:02] mahmoud-turki commented on #145
@ubuntubeki Could you elaborate more on the issue please?

[2022-10-27 07:44] rafiul587 opened #164 "The new PaymentButtonContainer button is invisible in the UI"
I tried to copy and use the PaymentButtonContainer from the official documment like the below. But it dosn't show anything in the android studio preview and real devices as well. Button click and everything works but the button is invisible. I got the error message from the android studio preview.

[code]

**Error from the android studio preview window**

The following classes could not be instant

[2022-10-27 11:09] mahmoud-turki commented on #164
You need to initialize the checkout config 1st in your application class.

[2022-10-27 15:54] rafiul587 commented on #164
It's already there. Can the hilt cause the problem somehow?

`@HiltAndroidApp
class MyApplication : Application() {

    override fun onCreate() {
        super.onCreate()

        val config = CheckoutConfig(
            application = this,
            clientId = "ARJFf7fDC2pOqoF-Cw4F2WLZnZOXdIQGt5nFdS4xMpvO7yXU7TCEQAEed60ihzcs87VsaS55ZCEkfSJz",
            environment = Environment.SANDBOX,

[2022-10-27 17:36] mahmoud-turki commented on #164
It shouldn't be. Could you please fill out the following information so it's easier for me to reproduce the issue and figure out what went wrong on the client side?

Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug*

[2022-10-30 09:07] pascaprevost commented on #134
Hi
Using PaymentButtonContainer instead of PaypalButton, it is working fine
Thank you for your help

[2022-10-30 09:07] #134 closed

[2022-11-03 00:42] applegb commented on #140
@ChrisGuzman Any chance you've seen above?

[2022-11-07 14:59] DomagojCavar opened #165 "Checkout doesn't open bottom sheet when an App has multiple merchants"
Hi,
My app has multiple merchants. Each merchant has unique clientId, because of that I am setting new configuration to PayPalCheckout each time I am doing purchase.

I notice an issue in SDK if I change configuration inside the app.
Example:
1. Merchant A is selected
2. SDK configuration is set with new clientId
3. PayPal bottom sheet is opened (User can choose cards for purchase)
4. continue the

[2022-11-11 12:52] TohaAbir opened #166 "Paypal payment check out"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-11-14 08:06] kuberrthe1 opened #167 "Payment gateway issue"
After adding card Paypal api in App, admin Panel, payments can still not processed. Continuous error

[2022-11-19 09:23] HuixingWong commented on #104
Hello is this fix released ?

[2022-11-20 12:55] AYUB3023 opened #168 "Cash Equities"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-11-21 15:36] saperi22 commented on #104
@HuixingWong no, the fix has not been released yet.
I'll provide you with an update once I know more about when it is going to make it to a release.

[2022-11-22 00:09] bitcras commented on #168
See error

[2022-11-22 00:10] bitcras opened #169 "Bug"
Before you create a new issue, please search for similar issues. It's possible somebody has encountered this bug already. **PLEASE REMOVE THIS LINE TO ACKNOWLEDGE THAT AN ISSUE DOESN'T ALREADY EXIST FOR THIS BUG**

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4.

[2022-11-24 16:47] eriodesign opened #170 "Dont work in Live environment"
Recently I integrated PayPal in my application . Everything works fine in sandbox but i got ( Invalid client_id or redirect_uri  ) error in my Live environment.
client_id: AcJevGxT4sKQEKmmXf5N2gN21dXVkl9qhXxgdhJtR2qwajIihPZmfvcD1iXgHZy6rpKH8Q8ntVuZSBzz
Can you please help me ?

[2022-11-25 00:49] #170 closed

[2022-11-30 16:50] saperi22 commented on #169
@bitcras if you have a bug to report, please provide the above mentioned details.
I'll close this issue as it doesn't have any actionable info.
Please open a new ticket if you do have an issue to report.

[2022-11-30 16:50] #169 closed

[2022-11-30 16:58] saperi22 commented on #166
@TohaAbir Please provide more information on the feature you are requesting.

[2022-11-30 16:58] #166 closed

[2022-11-30 17:10] saperi22 commented on #145
@ubuntubeki please open a new ticket with the details of the bug.

[2022-11-30 17:10] #145 closed